[2015-07-03 09:48] chenglou opened #5 "Write actual readme"
Fumbled to get this out of in time for the talk. Let's document this correctly and clean up the code.

[2015-07-05 02:39] chenglou opened #9 "Feeling bored/curious?"
This is a very new library. If you were curious as to how its design came to be, you're at the right place!

This issue's focused on the declarative tweening itself. I'll make another one for unmounting animation. For reference, check my React-Europe talk on animation.

I've partitioned the possible APIs into representative categories, then trimmed away the invalid ones to come to what roughly loo

[2015-07-05 15:45] anorudes opened #10 "npm run build failed on windows"
I desperately need help. Maybe I'm forgetting to do something
Command "npm run build" failed on windows
![image](https://cloud.githubusercontent.com/assets/2178870/8512300/09c84484-2356-11e5-9387-f3e08cc39fbf.png)

[2015-07-05 16:05] bsansouci commented on #10
Mmmh would it be because `NODE_ENV=production` doesn't work on Windows? Maybe it should be something like `set NODE_ENV=production`

[2015-07-05 16:33] anorudes commented on #10
Thanks, I deleted a line in package.json and run "set NODE_ENV=production". It's working!

[2015-07-05 16:48] #10 closed

[2015-07-05 23:30] dariocravero opened #11 "Publish to npm?"
Hi Cheng,

Have you considered publishing to npm (even if its internals are still to change?). The npm package `react-animation` [is already taken](https://www.npmjs.com/package/react-animation). However, that other project [seems like it never kicked off](https://github.com/akiran/react-animation). Perhaps you can claim it or publish to a different name?

Thanks :)
Darío

[2015-07-05 23:32] chenglou commented on #11
Man, I totally forgot to check that before I started iterating on this repo... thanks for the heads up. I'll reach out and see what happens!
If it doesn't work out, feel free to brainstorm new names here. React-animation sounds a bit plain.

[2015-07-05 23:45] dariocravero commented on #11
Brilliant :) I'll think of something :).

Also, I have a few suggestions regarding the code, off the top of my head:

- use `Array.isArray` instead of [[object Array]](https://github.com/chenglou/react-animation/blob/ccac69e565f7d2c167a1cb7330877be38f0c1062/Spring.jsx#L36).
- [use triple equality](https://github.com/chenglou/react-animation/blob/ccac69e565f7d2c167a1cb7330877be38f0c1062/Spring.jsx#

[2015-07-05 23:57] chenglou commented on #11
You're right on most points but fixing them now is almost a waste of time, because I'm changing them, like, as we speak =). The local version already looks different.

Turned your stuff into check marks.

It'll be more productive for us right now to iterate on the API. I'll write down some more issues. Feel free to check the long-ass #9 meanwhile!

[2015-07-05 23:58] dariocravero commented on #11
Also:
- use `.babelrc` instead of a string in the loader,
- probably separate webpack's config for `dev` and `production`?
- either warn about the need for `__DEV__` to be set if you're not using that plugin in your webpack or you aren't using webpack but are linking the package. I'm getting `Uncaught ReferenceError: __DEV__ is not defined` which isn't a big deal to workaround but still :)

[2015-07-05 23:58] dariocravero commented on #11
Class :) I'll wait for some changes to land then

[2015-07-05 23:59] dariocravero commented on #11
Any chance you can push those to a temp branch or something? :)

[2015-07-06 00:09] dariocravero commented on #9
Quick question, is there any reason why the call to `rAF` couldn't be disabled on `componentDidUpdate` and enabled when `componentWillUpdate` (apart from `componentDidMount`)?

[2015-07-06 00:12] chenglou commented on #9
Not sure what you mean? Currently the rAF doesn't stop at all until unmount. But still, why disabling it on didUpdate?

[2015-07-06 00:34] dariocravero commented on #9
Because it will re-render everything down the tree on every cycle and if I want the animation to be a once off, then it should stop right after it reached the end value, shouldn't it? I don't know if you remember about the [panels](usepanels.com) question I asked you at the end of the conference regarding snapping, essentially, every panel renders custom things inside itself. If I'm surrounding th

[2015-07-06 00:37] chenglou commented on #9
Yes, of course I will stop rAF-ing when I detect that the velocities have all gone to zero =).
I just didn't do it now because there are other stuff to fix, simple as that. #12!

[2015-07-06 00:38] dariocravero commented on #9
:D perfect! Thought I was missing something there...

[2015-07-06 00:39] chenglou opened #12 "Actually stop rAF-ing when speeds reach zero"
Low-hanging fruit. Will write a separate method for traversing the current velocity tree and checking that everything's at zero.

(Future iteration: do transducers help here? A bit tired of reimplementing basic methods for trees).

[2015-07-06 04:57] nkbt commented on #11
@chenglou I was doing recently a lot of packaging work on https://github.com/ericelliott/prod-module-boilerplate https://github.com/ericelliott/universal-react-boilerplate and my personal bunch of react-*  modules (even made one https://github.com/nkbt/react-component-template to keep it lean and clear) . It all works really well, so I can tackle this one if you don't mind. You can assign it to me

[2015-07-06 07:38] chenglou commented on #11
Thanks for the offer! For the moment (until I write the actual readme, at least) I'll hold this off or otherwise lots of work would be redone =). Might check into your templates when I'm done with the rough API (soon).

[2015-07-06 08:12] nkbt commented on #11
@chenglou oh sorry, was on a train and did not catch up with your comment. I've already done all things. Minimal code changes, though. Only infrastructure. Feel free to check it out and try new build/test process.

[2015-07-06 08:16] nkbt commented on #11
@chenglou oh and it does not matter if you are going to change API soon, you still can publish 0.0.1 for now. And go 1.0.0 when API is fairly stable.

[2015-07-06 12:10] kenwheeler commented on #12
In my own implementations, I've checked if the Math.abs(velocity) is < 0.1 inside of the rAF method and returned if true, canceling the loop. By the time it gets that low, there is very little if any visual feedback that would be shown.

[2015-07-06 16:12] chenglou commented on #12
You simply traverse the current velocity tree and check each leaf, right?

[2015-07-06 16:33] kenwheeler commented on #12
I haven't done it with trees, so I would normally just check currV, but in a tree scenario, might want to Math.max the values and wait until the largest is below 0.1. This is of course contingent upon starting the frame back up on componentDidReceiveProps.

[2015-07-06 17:29] chenglou commented on #12
I see. Btw the spring algorithm (`stepper.js`) already rounds the error to 0.001. We probably don't wanna make it 0.1? Since 0.1 concerns a nicer animation while stepper's 0.001 concerns just the incertitude in the number.

Or maybe we should just bump the error margin to 0.1.

[2015-07-06 17:42] bsansouci commented on #12
I wouldn't change the stepper's error margin, I think it should stay broad just in case. But for checking if velocity is 0, I agree with @kenwheeler, <0.1 is good :+1:

[2015-07-06 19:17] chenglou opened #14 "Justifications for the current API's implementation"
In conjunction with #9's point 2.2.2, this issue will explain the current API in detail. `TransitionSpring` (for unmounting) deserves its own issue later. **Warning**: this is the conceptual API for clarity purpose. Actual implementation might slightly differ.

The overall initial API looked like this:
[code]

(This is one of the only few viable solutions I've found that respect the criteria I've

[2015-07-06 19:17] chenglou commented on #14
@kenwheeler seems like you're already using this, so pinging you in case you're interested.

[2015-07-06 19:40] kenwheeler commented on #14
@chenglou A lot of the time I can see people just using the non-function style `endValue` syntax for things like `left` or `opacity`, like in /demo0 , but I can absolutely see the value of the `update` syntax in a multiple-element, multiple-property scenario. As soon as I recognized how the 'children as a function' syntax worked, it all became very clear.

[2015-07-06 19:45] kenwheeler commented on #14
That said, in what scenario would you feed non tweenable data, like `importantData` in the demo, through the update function?

[2015-07-06 19:54] bsansouci commented on #14
I think it becomes useful in the TransitionSpring which @chenglou said would be discussed in another issue. But basically when you're unmounting, the `TransitionSpring` will keep your data until you decide it can be removed, then it's removed. Looking at demo3, when you delete something from the list you're removing it from your state. If you don't give it to the `TransitionSpring` to keep, you wo

[2015-07-06 19:56] bsansouci commented on #14
Also `update` enables you to have different spring values on different parts of your tree.

[2015-07-06 20:24] chenglou commented on #14
Random comment: the current situation is, if you pass an object instead of a callback, I assume you want to animate everything, so I wrap your object with `() => update(object, defaultConfig)` before sending it off. This is handy for scalars too: `<Spring destinationValue={5}>...` which turns into `Spring destinationValue={() => update(5)}>...` With the planned change to use vanilla object, you ca

[2015-07-06 20:30] kenwheeler commented on #14
@chenglou on the first part, agreed, slightly more verbose, but consistent and explicit.

on the second part, I definitely see the value in the cascade in regards to keeping things terse.

[2015-07-06 20:34] chenglou commented on #14
Right, maybe I worried too much, but it _does_ feel a bit tedious to do this:

[code]

Where `[-1, -1]` is the signal to disable tweening `text`. Or maybe this is slightly better:

[code]

[2015-07-06 21:31] souporserious commented on #9
Not sure if it's in the works, but I think it would be beneficial to take care of all vendor prefixing and allow users to pass values similar to these:

    <Spring destinationValue={prevTickTops => ({
      a: {translateX: {destValue: 35, springConfig: {stiffness: 10}}},
      b: {scale: {destValue: 1, springConfig: {stiffness: 20}}}
    })}>

This is taking inspiration from animation libraries l

[2015-07-06 21:44] kenwheeler commented on #14
`staticValue` actually cleans that up tremendously

[2015-07-06 22:47] chenglou commented on #14
It's less clear that it cascades too, though... Anyways, I'll make sure the `config: [-1, -1]` works first. If necessarily I'll look into `staticValue`.

[2015-07-06 23:25] chenglou commented on #9
`TransitionSpring` works and is currently undocumented. Stay tuned =).
There won't be a core built-in API for taking care of vendor prefixes, because I made sure doing so would be trivial:

[code]
This is trivial to implement. It returns an object that you'll spread onto your existing style.
You generate these at the bottom level when you receive your interpolated values, instead of prescribing th

[2015-07-07 01:26] souporserious commented on #9
Awesome. Yeah I was just thinking of giving users that don't want to set up anything and just add animations an easy way to do so. Creating a wrapper component for whatever predefined animations you need makes total sense though. Then you could just have custom props for whatever your animation is. Excited to see more docs on it :)

[2015-07-07 08:45] Lucifier129 opened #15 "willLeave 里 console.log('leave') 时发现 requestAnimationFrame 没有被取消"
在 demo3 的 RedoMVC 中修改：
[code]
在切换 filter 时发现，一旦触发 willLeave 后，不做其他操作，console 将无限打印。

另外，在我个人实现的 todomvc demo中，删除 todo 的方式不是以 height:0px 来表示的，而是 removeChild ，在 react-animation 里暂时没有找到在动画完成后决定是否删除元素的方法。

[2015-07-07 08:54] luqin opened #16 "Chinese Support （来个中文的文档呗）"

[2015-07-07 14:05] arcthur opened #20 "Define custom component tag name"
Hi,

I use the animation in react on different structure, not all of 'div', such as 'ul' or 'ol', so I want to the coder could be defined the component tag name.

[2015-07-07 18:57] chenglou commented on #20
You don't have the restriction here. Use any tag you want:
[code]

Hope that helps! =)

[2015-07-07 18:57] #20 closed

[2015-07-07 19:03] chenglou opened #21 "New name!"
React-animation is taken on npm. Let's find a better name for it.

Current suggestions:

- React-Spring (not sure, we might add `Decay` component later)
- React-Motion
- React-Move
- Reanimation
- React-Tween

[2015-07-07 19:08] brentvatne commented on #21
`React-Motion` is nice

- React-Physics
- React-State-Physics
- React-Dynamic-Animation
- React-Pop :stuck_out_tongue:

[2015-07-07 19:09] sebmck commented on #21
ng-react-animation-library-by-cheng-lou™.js

[2015-07-07 19:09] chenglou commented on #21
@sebmck hmm good suggestion but I'm afraid it's hard to type `npm install ng-react-animation-library-by-cheng-lou™` in the terminal

[2015-07-07 19:10] sebmck commented on #21
What about `npm install ⚛✨` then?

[2015-07-07 19:12] chenglou commented on #21
Not sure how to require that from vim so I'll have to scratch that.

[2015-07-07 19:14] devknoll commented on #21
I went from `react-animation` to `re-animation`. `reanimation` or `react-necromancer` :wink:

[2015-07-07 19:15] andreypopp commented on #21
@chenglou did you try to contact react-animation package owner? It seems that package is abandoned and it is likely they can transfer package name to you.

[2015-07-07 19:15] boopathi commented on #21
`react-motion` :+1:

+ `react-anim`
+ `react-tween`
+ `react-transitions`

[2015-07-07 19:15] chenglou commented on #21
@brentvatne react-pop would be neat, too bad this library has no association with Pop (except in spirit!)
@andreypopp: yeah I did, hasn't replied yet.
@devknoll re-animation...humm

[2015-07-07 19:18] brentvatne commented on #21
I kind of like reanimation - brings linear, static animations to life :)

[2015-07-07 19:25] dozoisch commented on #21
`re-animation` sound cool, but Im not sure people will associate it to react right away (so might be harder to find it)

[2015-07-07 19:30] vramana commented on #21
How about `react-kinect` ??

[2015-07-07 19:32] attilah commented on #21
react-motion :+1:

what about, drumroll: react-animotion?

[2015-07-07 19:42] dariocravero commented on #21
:+1: on re-animation or reanimation too :); ranimation could be another one too

[2015-07-07 19:43] brentvatne commented on #21
I like kinetic too :smile:

[2015-07-07 19:44] gaearon commented on #21
I like reanimation.

[2015-07-07 19:52] attilah commented on #21
using the react- prefix make it WAY MORE easier to locate a package in the npm hell, so I'm against the "re" only prefix. Sorry @dariocravero  :D

[2015-07-07 19:53] bobiblazeski commented on #21
spring-animation or reanimation

[2015-07-07 19:53] dariocravero commented on #21
@attilah haha yeah, I know what you mean, we still have keywords though ;)

[2015-07-07 19:54] chenglou commented on #21
Keyword should be fine enough to compensate for reanimation. I'm leaning toward that or react-motion

[2015-07-07 19:55] dozoisch commented on #21
:+1: react-motion

[2015-07-07 20:01] boopathi commented on #21
@chenglou
while `react-motion` is pretty good, `react-animation` somehow sounds better. Try contacting npm.

[2015-07-07 21:03] dmatteo commented on #21
`reanimation` is pretty cool!
How about `replay` or `react-play`?

[2015-07-07 21:19] gaearon commented on #21
I like how `react-motion` is both pragmatic and hints that it's not your regular $.animate.

[2015-07-07 21:23] bsansouci commented on #21
@gaearon I like the idea of avoiding the baggage of what $.animate entails :+1:

[2015-07-07 21:26] nkbt commented on #21
React-motion sounds good.

[2015-07-07 22:37] souporserious commented on #21
React-FX? I like React-Motion too :+1:

[2015-07-07 22:42] DjebbZ commented on #21
`react-motion` : not tied to a specific technique/API (like Spring or Decay, and who knows what in the future) and still clear about the thematic. Also, prefixed by `react`.

[2015-07-07 23:57] brentvatne commented on #21
react-motion seems popular so I registered that with a placeholder just in case some jerk tries to take it :P https://www.npmjs.com/package/react-motion - if you decide to go with that I will transfer it over for you

[2015-07-08 01:24] paramaggarwal commented on #21
I vote for `reanimation`.

[2015-07-08 04:24] chenglou commented on #21
<img width="568" alt="screenshot 2015-07-07 21 19 45" src="https://cloud.githubusercontent.com/assets/1909539/8562981/f19fcda2-24ed-11e5-8b07-dda9a9949df9.png">

Democracy has spoken! React-Motion it is. @brentvatne transfer please =)

Here are the honorable contenders:

- Reanimation (definitely the next animation library name)
- React-Tween
- React-⚛✨ (`import ⚛✨ from 'react-⚛✨`)

Thanks was fun

[2015-07-08 04:24] #21 closed

[2015-07-08 05:14] brentvatne commented on #21
@chenglou - transfer complete :smile: all yours

[2015-07-08 07:02] chenglou commented on #15
I'll answer in English for the sake of people searching for this issue.

Your issue is that the console logs "leave" infinitely, I'm not sure what you mean by that because currently it does stop after a while. If you're talking about `willLeave` being triggered many many times for a same component, this is the expected behavior. It will keep asking you whether the component should be unmounted, **

[2015-07-08 07:02] #15 closed

[2015-07-08 07:03] chenglou commented on #16
I'm not even done with the english readme yet. Even when I'm done I'm not sure if I'll ever start and maintain a chinese doc myself. Maybe someone else will do it. Low-pri for now =)

[2015-07-08 07:54] chenglou commented on #12
@kenwheeler master now fixes this, so closing.

I'm stopping at the exact value of `0`. Fortunately the actual spring algorithm already handles the error margin.

The library itself can't stop raf-ing at a bigger error margin than the algorithm itself. The reason is that the user might be using an `endValue` callback where it checks the current exact final position and start another animation. Rel

[2015-07-08 07:54] #12 closed

[2015-07-08 15:51] mathieumg commented on #21
Unusable since you forgot a `'`! :trollface:  That being said, love the new name. :+1:

[2015-07-08 18:09] aseemk opened #24 "GitHub Pages for demos"
It'd be slick if the demos were available over GH Pages. Then people wouldn't need to clone the repo just to see the demos. =)

Should be as easy as pushing to a `gh-pages` branch, but I might be overlooking something.

Nice work!

[2015-07-08 21:28] nkbt commented on #24
This needs some updates in the build config.

[2015-07-09 00:30] chenglou commented on #24
Yes that was what I was thinking. It's on my list of things to do =)

[2015-07-09 00:31] nkbt commented on #24
@chenglou delegate it =)
I'm happy to do that asap. Assign to me if you are ok

[2015-07-09 00:32] chenglou commented on #24
Maybe I should? I have no idea what I want the page to look like yet

[2015-07-09 00:33] nkbt commented on #24
It's ok, I can handle it =). Then you/all will add any relevant changes to it

[2015-07-09 00:34] chenglou commented on #24
Alright cool. I was thinking of also putting the few hacks I've put in my talk in it, but that can wait. Right now it'd be nice to just have the demos in the repo. Maybe a live editor in the future or soon

[2015-07-09 00:34] nkbt commented on #24
I am a little rushing on these things since I am using it in our project. Not much fun to copy-paste changes instead of using proper npm dependency

[2015-07-09 00:35] nkbt commented on #24
I reckon I am not alone with this =)

[2015-07-09 00:40] chenglou commented on #24
That's nice to hear =)
Somewhat related: I'll put up an issue a-la #14 for TransitionGroup. I want to be confident that the first API doesn't overlook some major flaws (personal experience, heh) before releasing it. At the latest, I'll release this officially when my talk's video comes out.

[2015-07-09 05:05] chenglou opened #26 "Justification for the TransitionSpring API"
Aside from a (very) nice-to-have declarative animation API, we need to solve the problem of animation on unmounting. This is a React-specific problem.

### `TransitionGroup`

It has many problems: race conditions, re-mounting while unmounting, lack of control over animation/children tree shape (flat list), etc. `TransitionSpring` addresses, I think, every single one of the pain points I could come

[2015-07-09 20:44] chenglou commented on #5
Done!

[2015-07-09 20:44] #5 closed

[2015-07-09 20:44] chenglou commented on #11
Published =). Leaving this open to check off the checkboxes gradually

[2015-07-09 21:25] chenglou opened #29 "Make this work on React-Native"
Should Just Work ™ if we import the correct React.

[2015-07-09 23:04] chtefi opened #31 "Switching between browser tabs"
Hi,

Thanks for this awesome lib.

I stumbled upon something suspect when switching between browser tabs while an animation is on.
The following code simply renders an interpolated value (0 at first, then 300 after 1s) and use it in a  `transformX` as well.
Everything works fine.

Until you switch your browser tab, come back to it, switch, come back etc. The value keep changing/bouncing a lot at e

[2015-07-10 00:06] KyleAMathews commented on #31
Browsers throttle requestAnimationFrame (what react-motion uses to power its animations) significantly when a tab is inactive ([this thread](http://greensock.com/forums/topic/9887-tween-paused-when-switch-to-other-tabs/) says ~2 frames/second).

I think the normal thing to do here is to pause the animation when you detect the user leaves the tab and restart it when they return.

[2015-07-10 00:07] KyleAMathews commented on #31
Though it'd be cool if react-motion could handle this somehow automatically.

[2015-07-10 00:27] nkbt commented on #31
It is fairly easy to check if tab is in foreground or background. I'll have a look today (after work) what could be done if no one fixes it before that

[2015-07-10 02:12] chenglou commented on #31
What's really the desired behavior here? Slow down or stay at the same speed?

[2015-07-10 02:13] chenglou opened #33 "Put some badges"
Npm/Bower/Slack

[2015-07-10 03:00] nkbt commented on #31
I am pretty sure animation should freeze and resume when we are back.

[2015-07-10 03:02] nkbt commented on #33
devDependencies, CI (circleci?), code coverage (coveralls?)

[![Dependency Status](https://david-dm.org/chenglou/react-motion.svg)](https://david-dm.org/chenglou/react-motion) [![devDependency Status](https://david-dm.org/chenglou/react-motion/dev-status.svg)](https://david-dm.org/chenglou/react-motion#info=devDependencies)

[code]

[2015-07-10 03:06] chenglou commented on #33
Npm bower and slack are fine. Or maybe just slack. Having like 5+ badges is kinda overloading it

[2015-07-10 03:16] nkbt commented on #33
=)

you can always put the m the the end of readme. Still nice to have some visual indication that health is OK.

[2015-07-10 04:11] chenglou commented on #31
Well maybe this is a bad analogy, but we don't do the same with sound right? And what's really "going away", does losing focus by switching to another app (while the screen is still partially visible) count? Because if so it seems that continuing the animation's the way to go? Not talking about technical details here.

[2015-07-10 04:17] nkbt commented on #31
Analogy with sound is not that straight. You cannot see animation when tab
is not visible. Background tab is an issue though. Visible **and**
inactive.

If animation is very long, it makes sense not to burn cpu, but they are
actually quite short, so the idea of animating in background seems ok to me.

You can check Date.now() inside raf to align animation. If it is more then
finish, then just set

[2015-07-10 04:24] nkbt commented on #31
This could be optional. For some cases you want to stop animations completely when in background and for most cases - keep going.

Since I don't like configuration and prefer composition, maybe it could be some component-wrapper like ```js
<StopInBackground>
  <ReactMotion>{}</ReactMotion>
</StopInBackground>
[code]

[2015-07-10 08:23] nkbt commented on #24
@chenglou could you please create a `gh-pages` branch so it is possible to make PR there?

[2015-07-10 08:36] chenglou opened #34 "Test the perf of CSS keyframes"
The idea is to maybe have a constrained API in the future that allows compiling to CSS keyframes instead of using rAF + render. cc @sahrens who'll probably find this relevant.

I've decided to stop theorizing about CSS keyframes' perf vs manipulating DOM + setting style properties vs React + render + setting inline style. Latter will most probably be slower but hey, 1. always need real data to tal

[2015-07-10 09:47] sahrens commented on #34
It's not so much about microbenchmark a comparing the approaches head-to-head as it is about the macro system. If you're relying on react render to animate (say, a custom spinner) and want to also do something expensive in JS (say, render a large network response), then your animation is going to stop while that's happening (unless you do a bunch of work to time-slice the expensive operations).

T

[2015-07-10 17:51] chenglou opened #36 "Implement some declarative gestures + animation demo"

[2015-07-10 19:49] chenglou opened #37 "Write perf optimization guide"
E.g. with shouldComponentUpdate

[2015-07-10 19:49] chenglou opened #38 "Write guide on migrating from CSSTransitionGroup"
Github issues is a good todo place

[2015-07-10 23:52] dariocravero opened #41 "Extract animation logic so that it can be used outside components"
The physics around the motion are super useful for other stuff that might not be React related; e.g., animating scroll - which may need to happen after render.
Would it make sense to extract the animation logic into its own module/function so that it can be used outside React's lifecycle? Am I trying to use this in the wrong way altogether? :) Thanks

[2015-07-11 00:01] nkbt commented on #41
I was thinking about exactly the same thing today and it feels like a lot of goodness here comes from React directly. The base logic for re-calculations could be extracted to some `*-core` though and used for non-react apps.

[2015-07-11 06:07] Lucifier129 commented on #38
I agree and foucs

[2015-07-11 07:13] salzhrani opened #44 "Apply changes to the Spring component itself"
Is it possible to apply the animation on the Spring component itself (eg: setting the style on the Spring component), the reason is to make use of the component dom node.

[2015-07-11 08:11] nkbt commented on #44
@salzhrani yes, all props passed to Spring are applied to rendered div.

[code]

[2015-07-11 10:59] dariocravero opened #45 "Clarify currV and currVals"
Hi @chenglou, could you shed more light on the `currV` and `currVals`? Have you thought about renaming them to something more meaningful? Thanks :)

[2015-07-11 11:16] dariocravero commented on #41
@chenglou @nkbt [would love to hear your thoughts on this](https://github.com/dariocravero/react-motion/blob/extract-animation-from-spring/src/spring/animate.js)?

[2015-07-11 11:28] nkbt commented on #41
Seems ok to me. In terms of syntax I would avoid redefining function argument.

[code]

[2015-07-11 11:31] nkbt commented on #41
If it is recursive function, could look more interesting with currying

[code]

[2015-07-11 13:11] bsansouci commented on #45
I can explain the little bit that I know. Internally,  `currVals` has the same shape as `destVals` and is the thing evolving towards `destVals`. `currV` is the current velocity, which also has the same shape.

If you have:
[code]

Then internally `currVals` and `currV` will look like:
[code]

This allows us to have our `Spring` work on any kind of data structure. It also allows us to have `Transit

[2015-07-11 13:19] bsansouci commented on #26
I think `config` works nicely for the `Spring`, but is a little annoying for `TransitionSpring` because you can't have it at the top level. This is because the top level object should be a simple mapping key => values. I wrote a little test thing and had this problem immediately. I used a simple array as a value, that I transformed into an object

[code]

I used that in development mode because I

[2015-07-11 15:56] salzhrani commented on #44
I wanted to say that I wanted to apply the spring value to the generated div. currently the calculated spring value is passed to the child function which I am not sure how apply it to the div generated by `<Spring>`

[code]
Sorry If I am not making any sense

[2015-07-11 18:44] chenglou commented on #26
I think your example is misleading. Like we talked about before, writing things out in a scalar manner does have its values, but in practice whatever you pass to `TransitionGroup` will most likely be `map`ped over, in which case adding the `{val: ...}` wrapper is trivial. Hardcoding your array and object isn't very indicative of the common use-case. Plus, you could have used `zipmap(range(), arr)`

[2015-07-11 18:47] chenglou commented on #44
I'm not sure why you'd want to do that? The `div` used by spring is really just something used to circumvent the fact that React can currently only return one child. It's invisible anyway. You could apply it on the inner div you provide if you want: `<Spring ...>{val => <div style={...} />}</Spring>}`.

[2015-07-11 18:53] chenglou commented on #45
Not sure how you'd give the most up-to-date current value since it depends on you providing the new `endValue`, which itself would depend on the said "most up-to-date current value". In short, with the current API, you can't. You can receive the `currentValue` from the last tick in `endValue`, and that's good enough since it's mostly used for staggering animation (or is it? I personally haven't fo

[2015-07-11 19:01] chenglou commented on #41
Yeah definitely in the future, but not now at least. Issues like https://github.com/chenglou/react-motion/pull/39#issuecomment-120520787 (which I friggin love, thanks @iclanzan @razh!) are exactly why I'm postponing early-refactoring. By the time you're done with the modularization we'd have come up with e.g. a better way of rendering without passing `FRAME_RATE`.

And no, you're not using this th

[2015-07-11 19:01] #41 closed

[2015-07-11 19:01] chenglou commented on #45
Keeping this open because I think I can do a better job of explaining it in README/demos

[2015-07-11 19:25] #33 closed

[2015-07-11 19:29] iclanzan commented on #31
@nkbt We don’t know the duration of animations ahead of time so as to “align” it or set the last value. Each step is computed from the values of the previous one. Best we can do is try to compute multiple steps to catch up the lost time. If the time lost is too great and would take too many steps to catch up then we have two options: **pause** or **end** the animation.

If down the road we want to

[2015-07-11 19:43] chenglou commented on #31
@iclanzan I want the Decay component actually, so yes, that makes sense. Pausing it is.
(Also, looking forward to decoupling the stepping function!)

[2015-07-11 19:43] bsansouci commented on #31
:+1:

[2015-07-11 20:40] bsansouci commented on #26
Good points. I agree with keeping both springs similar in terms of API. Also having multiple ways of achieve the same thing can be confusing.

[2015-07-11 23:08] salzhrani commented on #44
I might be stingy with divs ... but I guess one more wouldn't hurt ...
Thanks.

[2015-07-11 23:11] gaearon commented on #44
Why does `Spring` *always* have a `div`?

I'd rather go the opposite route: enforce `React.Children.only` on the `children` result. If people want a `<div>`, they'll pass it, otherwise they may pass something else.

[2015-07-11 23:12] gaearon commented on #16
Hehe. https://github.com/gaearon/redux/issues/158

[2015-07-11 23:13] chenglou commented on #44
Hah, good point!

[2015-07-11 23:35] srcspider commented on #33
@chenglou Maybe add a gitter link for anything that might require irc-like live chat (help with anything for example). It's easy to use and unlike irc people easily see what people were chatting about before they arrived and can also answer someone even after they leave and the person will just receive an email about it. It's also visible to guests, and you just need github to access it. Here's we

[2015-07-11 23:57] #44 closed

[2015-07-12 00:21] nkbt commented on #33
:+1: for gitter
:-1: for slack (http://blog.freecodecamp.com/2015/06/so-yeah-we-tried-slack-and-we-deeply-regretted-it.html)

PS: Gitter has IRC gateway https://irc.gitter.im/ which works perfect.

[2015-07-12 00:26] salzhrani commented on #44
Whoa ... thanks

[2015-07-12 03:18] chenglou commented on #33
Tbh I'm not much of a slack user and I still find it weird, but I chose slack because the Reactiflux channel already has thousands of users and slack seems more popular than gitter. Popularity sounds like a weak argument but probably not in this case.

Is there any gitter -> slack or irc -> slack integration?

[2015-07-12 11:31] srcspider commented on #33
@nkbt didn't know that, awesum

[2015-07-12 11:46] nkbt opened #54 "Standard animation library"
I suggest to create `react-motion` github org and put bunch of separate libraries under that org.

Here is a list of what can be implemented on top of react-motion:
http://madrobby.github.io/scriptaculous/core-effects/
http://madrobby.github.io/scriptaculous/combination-effects/

I would make them each as a separate wrapper-component in separate repo.

Will do some basic things like `react-motion-

[2015-07-12 11:55] srcspider opened #55 "Theoretical: Timeline Rewind/Replay Implementation"
I think the best way to move animation forward in react is to make it dead simple to experiment with the animation on a set of potentially multipage actions.

For example, let's say I have an admin panel, I have a certain flow to getting from listing to a form and then performing an action and I want to set some nice animations for doing all that, ideally by setting a crude version then experiment

[2015-07-12 12:03] nkbt commented on #55
This works well with https://github.com/in-flux/in-flux
I mixed it with react-motion last week and got smooth and awesome transitions for different components navigation on the page

[2015-07-12 12:04] nkbt commented on #55
Not sure how all this related to react-motion itself.

[2015-07-12 12:40] srcspider commented on #55
Hm. With the multiple-page example I didn't mean that this would be a system that would be handling ONLY that but that it should be able to go though routing systems. Sorry I guess I put too much emphasis on the pages changing. If you have a single page and are doing a lot of actions then it should be able to record that.

The system that does the animation should be the one that manages the timel

[2015-07-12 12:47] nkbt commented on #55
Hopefully I get it right this time...

timeline you are talking about seems like a cross-component state. When you want to share some state between components the answer is simple - use Flux.

That means you can create a timeline store to keep track state of animation and then apply it when needed to ReactMotion elements (or their animated targets directly).

You can also wrap your timeline compon

[2015-07-12 13:01] srcspider commented on #55
@nkbt

Cool. I'll have to parouse the code later. Sadly any router that requires being able to have access to the components when defining the router won't ever work for me, since my production needs requirements mean the component data never exists until someone requires the page (webpack require.ensure style universal app). The routers end up being very simplistic and custom built for the job.

[2015-07-12 13:04] nkbt commented on #55
You don't have to require components for routing purposes. See explanation https://github.com/in-flux/in-flux/issues/52

[2015-07-12 13:05] bsansouci commented on #55
You should check out https://github.com/gaearon/redux and their DevTools.

[2015-07-12 13:05] nkbt commented on #55
Just want to give a link to redux as well, cheers =)

[2015-07-12 13:19] srcspider commented on #55
off-topic but @nkbt in your in-flux/in-flux#52 example you still clearly has access to the Chart object. I'm sure it's dynamically loaded in some sense specific to in-flux but I don't see how it's dynamic in the sense I meant. When I say dynamic I mean the application has NO code for Chart and browser went and made a network call to get code that describes how to make a Chart page, injected that c

[2015-07-12 13:42] dariocravero commented on #45
Thanks both for the explanation :) What about renaming `currV` to `currentVelocity` and `currVals` to `currentValues` then? I think would make it more explicit and easier to read too. Also, if `currVals` is going to become `endValue` on the next tick, they should probably share the same ending, i.e., `currVal` and `endValue` or `currVals` and `endValues`. With that in mind, perhaps `current` can e

[2015-07-12 13:47] dariocravero commented on #41
Good stuff :). It would be really nice to see this become a generic `motion` library and then have bindings for react. It's a pity [motion](https://www.npmjs.com/package/motion) is already taken ;). I'd see that logic being a separate package (motion's core) and any bindings to specific libraries or patterns could then have their own packages that use this.
Would it be a good idea to put a roadmap

[2015-07-12 17:44] bsansouci commented on #54
I really would love to see things built on top of react-motion, but I'm not sure this would have its place in this repo. @chenglou's the master though :p

Related to this, @kureev wanted some wrapper for looped animations and @souporserious started a repo for small UI components like those [here](https://github.com/souporserious/react-motion-ui-pack)

[2015-07-12 17:45] bsansouci commented on #45
`currValue` and `currVelocity` sound good to me :)

[2015-07-12 17:51] gaearon commented on #55
I really really want to build some cool demos with Redux DevTools + React Motion.
You can track Redux DevTools here: https://github.com/gaearon/redux/pull/234

They already allow time travel and hot reloading like I demoed in [my ReactEurope talk](youtube.com/watch?v=xsSnOQynTHs).

The nice thing about DevTools is it's easy to create your own. For example, instead of the sidebar with a list of act

[2015-07-12 18:03] gaearon commented on #33
I've heard Slack can be integrated with IRC.

[2015-07-12 19:30] chenglou commented on #45
Those were always meant to be temporary names. If you go back in the commit history you'll see more outrageous ones, like `mary` or `epicMergeduce` `meldGoldIntoMold`, lol. Remember that the repo has only been officially released for **three** days (feels like forever?).

I'll check back on this issue once I finish refactoring other stuff.

[2015-07-12 20:45] nkbt commented on #54
Not in the repo, sure. In separate repos of the org. Like it is done for
babel or webpack.

[2015-07-12 21:49] dariocravero commented on #45
Haha I know @chenglou :) the reason for this thread was to raise that question. `meldGoldIntoMold` is just hilarious :P

[2015-07-13 07:16] chenglou opened #58 "Crazy idea for testing"
https://twitter.com/_chenglou/status/620462319806447616

Maybe we could try it in this library. It's not user-facing (unless you fail to strip away the tests correctly of course) so I'm fine with experimenting, especially when the repo's still at its infancy. We might not want to switch to something as crazy as this for an established repo.

Alternatively,
[code]

And somehow let babel transform &

[2015-07-13 08:28] #58 closed

[2015-07-13 11:48] brumm commented on #38
For completeness' sake, this [jsbin](http://jsbin.com/piluto/3/edit?js,output) shows the kind of CSSTransitionGroup usage I was trying to achieve with react-motion.

key points for me:
-  one changing index drives entire interaction
- render two instances of same component while animation is running
- backward/forward animation support

You can see the real-world app I want to use this in [here](h

[2015-07-13 17:05] nick opened #59 "Add note about non ES6 usage"
I initially tried using the following code which didn't work:

    var Spring = require('react-motion');

[2015-07-13 17:22] chenglou commented on #59
That's because I used webpack's bundling of requires rather than babel's. Your `Spring` is exposed under `require('react-motion').default`. If it was babel it'd have added a line to make it work. Related: https://github.com/Microsoft/TypeScript/issues/2719

Same problem when you include it as a script tag. A bit annoying. For now the above method works but I'll look into whether webpack can do thi

[2015-07-13 17:28] chenglou commented on #59
I'm not explaining this very well lol. @nick probably knows this better than I do.

[2015-07-13 17:29] chenglou commented on #59
I'm not explaining this very well lol. @nkbt probably knows this better than I do.

[2015-07-13 17:41] chenglou commented on #31
@chtefi to clarify: tldr yes this is a bug, because the time delta gets screwed up. This will be fixed hopefully soon.

[2015-07-13 19:56] amannn opened #60 "Recommended way for applying forces?"
Is there a a good way to apply forces to a system? A use case is when you drag an element on a touch device and release it with a specific velocity. You want the element to being thrown into that direction.

Additionally an element could have another force that is being applied on it, so that it will eventually move to a specific end position.

Compare for example the [photo gallery](http://petehu

[2015-07-13 20:00] bsansouci commented on #60
Yup coming up! @chenglou's fixing some important thingy inside the API so we're waiting on those before adding features.
It'll probably a prop like `currVelocity={currVelocity => ...}`

[2015-07-13 20:16] amannn commented on #60
Great, thanks for the quick response!

[2015-07-13 20:31] yamalight opened #61 "Simplified wrappers for common use cases?"
Any plans for creation of simplified wrappers for common transitions (e.g. adding items to list)?
Would be cool to have something similar to the `<SimpleTransition />` I'd implemented in [this demo](https://jsbin.com/wowupi/edit?js,output), but better :smile:

[2015-07-13 20:56] chenglou commented on #61
Actually, before we get to wrappers, I _might_ be able to release a simplified API for those things. Stay tuned tonight/tomorrow

[2015-07-13 21:40] yamalight commented on #61
@chenglou oh, sounds pretty awesome! can't wait to see it :+1:

[2015-07-13 21:48] nkbt commented on #59
Since it is all react anyways, isn't it better to simply transform
everything as separate files with babel and not use webpack?

Bower is another story, but who actually use it these days? If you still
wish to publish for bower, make an additional build.

[2015-07-13 22:16] chenglou commented on #59
Right, the only reason why I'm even bundling with webpack is for bower support. Thought it was convenient that I can kill two birds with one build. So, if we support bower/script tag, we still need that build, and that's the problem.

[2015-07-13 22:17] chenglou commented on #59
https://github.com/chenglou/react-motion/pull/30

[2015-07-13 22:23] nkbt commented on #59
Need 2 builds. Bower, sigh

[2015-07-13 22:24] nkbt commented on #59
I'm surprised to see react ppl using bower

[2015-07-13 22:25] chenglou commented on #59
I've gradually removed bower support for my other repos. But to be fair, maybe we're a bit in an echo chamber here. Some friends the other day told me they were still using script tags. Dunno about the intersection of people using bower/script tag and those using react-motion

[2015-07-13 22:27] nkbt commented on #59
I can fix this stuff
On Jul 14, 2015 8:24 AM, "Nikita Butenko" <nik@butenko.me> wrote:

[2015-07-13 22:29] nkbt commented on #59
Worst that you have to keep build artifact in repo for bower.

[2015-07-13 22:31] chenglou commented on #59
^ I know... that was one of the reasons I didn't want it. Lemme ask on Twitter or something.

[2015-07-13 22:41] chenglou commented on #59
Yeah, let's support it, for now...

[2015-07-13 23:47] bsansouci commented on #60
I'm actually working on a photo gallery while exploring touch gestures and velocity. I'll ping you as soon as I get a gist up in the next couple of days.

[2015-07-14 00:12] gaearon commented on #59
This actually seems correct to me.

`react-motion` export is an ES6 module, so it has `Spring` as the default export, and some other named exports. It's not a bug or a mistake—it's just the way ES6 exports work.

If you don't want that behavior, you can go back to using `module.exports = Spring`, but then you'd have to change other named exports to be `statics` on `Spring`.

Not a Webpack issue, i

[2015-07-14 00:13] gaearon commented on #59
Even Babel can't “make it work” on the export side.

Babel does “interop import” on the import side: if you import an ES5-style module from Babel, it will “pretend” it has a default export.

But it can't turn an ES6 module into something consumable by ES5 code without `.default` because that's just the spec.

[2015-07-14 00:14] chenglou commented on #59
It's not a mistake, but Babel goes a step further and does
[code]

After which you can use `var Spring = require('react-motion')` directly.

You know what, maybe there shouldn't be a default export for this library?

[2015-07-14 00:15] gaearon commented on #59
Oh, you're right.
But let's make `Spring` named export then? Problem solved :-)

[2015-07-14 00:15] chenglou commented on #59
We can have the excuse that I might expose a `Decay` component, heh

[2015-07-14 00:15] gaearon commented on #59
After all it's not just one component..
And people can write

[code]

and

[code]

and everyone's happy

[2015-07-14 00:16] gaearon commented on #59
You already have a `TransitionSpring` so it's fair deal now I think

[2015-07-14 02:33] shepherdwind opened #62 "How to animate height , when element heght is not fixed"
Such as, We need an collapse component. An collapse has some panel, every panel has a header element.

When header clicked, then panel open or close. The panel open need animate panel heigth for zero to panel's scrollHeight. Close action reverse.

The problem is, I can only get the hight(el.scrollHeight) of panel after the panel render. React-motion require the endState height, before the panel re

[2015-07-14 02:38] chirag04 commented on #62
subscribing. :+1:

@chenglou  ideas?

[2015-07-14 02:38] bsansouci commented on #62
Hey! I think this isn't a problem specific to react-motion. If you need the element's height before rending but you can only get it after at least one render, then you're going to have to set some default height. Then you can hook up an event handler that calls `this.setState({height: ...})` every time the event you need fires (here I'm guessing scroll?).
If you need to access a DOM element render

[2015-07-14 03:04] nkbt commented on #62
yeah there is no real way to solve this problem without actual rendering. It is not possible with any tools (not only react-motion). With css transitions you cannot animate height:auto either.
So it is possible to render element in the same container (in wrapper so it is invisible), get it's dom node height, then set wrapper state and only after that do animation knowing actual element height.

It

[2015-07-14 04:36] chenglou commented on #62
We could provide a helper/library in the future. Not in core, probably.

In this repo, the earlier commits show an example with css-layout. It worked really well. Glorious, glorious layout transitions. Didn't have time to put them into a respectable demo for the talk.

Leaving this open because yes, this is unfortunately an issue on the web and I want to provide a good default.

[2015-07-14 05:33] nkbt commented on #62
I need that wrapper as well, so in next couple of days will make it. I made
it for other frameworks couple of times before. Just need that stuff done
for react now.

Gonna be fun

[2015-07-14 05:40] chenglou commented on #62
The lesson we've learned from TransitionGroup is that while it handles its specific use-cases very well, those use-cases aren't enough. So here I'm going down a level of abstraction and provide means to diff on data itself rather than final components (which is less ideal than the latter, but much more practical until we find the right abstraction for diffing on components).

One neat thing we did

[2015-07-14 06:17] #59 closed

[2015-07-14 06:21] amannn commented on #60
Cool, thanks!

Btw. for inspiration for physics based animations the examples from Ralph Thomas are also very nice: http://iamralpht.github.io/constraints/ and http://iamralpht.github.io/physics/. If these can be rebuilt with react-motion then I don't know what else there could be in this lib. But he is actually lacking some features that react-motion is capable of, such as setting an end value.

[2015-07-14 06:25] chenglou commented on #60
Haha, I've talked to him, definitely knows what he's doing.
Hey @iamralpht, check out this new repo =).

My goal is to get as declarative as the constraint stuff, which I _really_ appreciate. Unfortunately JS isn't expressive enough, and most people will be scared away by the constraint API so as a pragmatic reason I'll hold off. Now, if you could somehow express these constraints naturally using

[2015-07-14 12:40] tychotatitscheff opened #63 "Special Hack Key"
May be silly but I cant find the "slowmotion", "rave the future" and other keys used in react conf ?

Is it published somewhere ??

[2015-07-14 15:30] nick commented on #62
Since Spring lets us update an animation mid flow smoothly, how about this:

1. User clicks panel header to expand it
2. Spring starts to animate to an 'estimated' default height, say 100px
3. Contents are rendered and 'real' height is calculated
4. Spring updates animation mid flow to the new 'real' height (say 150px)
5. Since all this happens in, say, 100ms, the animation still looks clean to th

[2015-07-14 16:13] hzoo commented on #63
Was removed in https://github.com/chenglou/react-motion/pull/23 but

[2015-07-14 17:09] chenglou commented on #63
Not silly at all! I knew someone would be asking for this =)
Feel free to revert to that commit and try the keys! But yes, lots of potential for tooling there.
Closing!

[2015-07-14 17:09] #63 closed

[2015-07-14 17:11] bsansouci commented on #62
@nick that's what I meant when I said "use a default value for the first render" :D

[2015-07-14 19:25] jschr opened #65 "Is the goal of react-motion to eliminate any need for CSS transitions?"
This library is starting to look really awesome!

I have a few questions about the goals of this library:

1. Do you see react-motion totally replacing the need for css transitions or is it intended to compliment them?

2. Should react-motion be used to transition between hover and active states of a component? Are their any performance implications with doing so?

3. Will we eventually be able to

[2015-07-14 19:33] chenglou commented on #65
Hey!

1. No, because sometimes you really just want a simple little animation on e.g. a small div. CSS transitions great at dealing with this at high perf and little API overhead. That being said, yes, you could use react-motion in these cases.

2. See above. Yes you can. Maybe it's a good idea? I haven't tried these small transitions much yet. This library solves more important problems than to c

[2015-07-14 19:33] #65 closed

[2015-07-14 19:35] jschr commented on #65
Appreciate your response! Ill check out the slack channel too

Thanks

[2015-07-14 22:09] gaearon commented on #55
I just released [Redux DevTools](https://github.com/gaearon/redux-devtools).

Feel free to participate in the [custom monitor challenge](https://github.com/gaearon/redux-devtools/issues/3)!
Would be very cool to try this together with React Motion but it's time for me to go to bed.

[2015-07-15 00:00] chenglou commented on #55
This is a non-brainer (btw how far have we come to be able assume that this can be done "just like that"? Awesome), but just a comment: to do the replay correctly you need to keep track of every single state the animation is in, not just the final position. For example, this is cool: https://twitter.com/jlongster/status/619266601662201856

But it's not an intended behavior, in the sense that you p

[2015-07-15 07:51] chenglou opened #66 "No more source map in build/"
Not sure why webpack doesn't output it anymore.

[2015-07-15 08:31] chenglou opened #67 "Document refs problem"
https://github.com/facebook/react/issues/1373 last point.

String-based refs don't work. Use [first-class refs](http://facebook.github.io/react/docs/more-about-refs.html#the-ref-callback-attribute).

[2015-07-15 09:29] tychotatitscheff commented on #63
I see !
And i understand the problem raised in #23.

Did you guys  thinks we can refactore this into a "react-motion/addons"  it is quite useful to debug.

[2015-07-15 14:17] nkbt commented on #66
`devtool: 'sourcemap'`?

[2015-07-15 17:51] twobit opened #68 "Traditional curve/duration animation"
Hi Chenglou,

Here are my thoughts after integrating the `Spring` API yesterday:

 * Users of my components will have trouble understanding stiffness/damping compared to the slightly more intuitive and common curve/duration.
 * In some instances the `Spring` animation doesn't return to a stable state.
 * Would be great to see some predefined constants like you get with most curve animation librari

[2015-07-15 18:02] chenglou commented on #68
I do plan to document a certain set of configs such as the default one and `[120, 17]` (bouncy).

What do you mean by stable state? Is this related to #31?

The API works for normal tweens, but as soon as you try some interruptible stuff the curve begins to look weird. I was thinking of taking [tween-state](https://github.com/chenglou/react-tween-state)'s additive animation to solve this. But then

[2015-07-15 18:07] chenglou commented on #66
Well this is embarrassing, I thought I saw source map in the config but turned out that wasn't the prod config.

[2015-07-15 18:07] #66 closed

[2015-07-15 18:37] twobit commented on #68
Here's an example of the unstable spring issue:
![image](http://fat.gfycat.com/FlakyResponsibleAfricanparadiseflycatcher.gif)

Definitely don't want to go back to tween-state since we've migrated to ES6 style classes. Regardless, thanks for your work on these libraries.

[2015-07-15 18:53] chenglou commented on #68
@iclanzan your PR fixes this right?

[2015-07-15 19:04] razh commented on #68
@iclanzan 's PR should resolve almost all issues regarding stability even given the frame-rate changes during resizing. @twobit Can you try out #57?

rebound-js has converters from Origami (where `k` and `b` are represented as `tension` and `friction`) and Pop (`bounciness` and `speed`): http://facebook.github.io/rebound-js/docs/rebound.html#section-61

[2015-07-15 19:08] chenglou commented on #68
I feel like having @twobit's suggested `stiff_spring` and `wobbly_spring` and such solves point 1? No trying to dissuade my porting tween-state over, but it seems this can be delayed quite a bit if we do provide convenient named configurations (even more so that they're literally an array of 2 elements that you can inspect and play around with).

Unrelated: react-motion at first almost used reboun

[2015-07-15 19:29] chenglou commented on #68
I feel like having @twobit's suggested stiff_spring and wobbly_spring and such solves point 1? No trying to dissuade my porting tween-state over, but it seems this can be delayed quite a bit if we do provide convenient named configurations (even more so that they're literally an array of 2 elements that you can inspect and play around with).

Unrelated: react-motion at first almost used rebound-js

[2015-07-15 19:34] iclanzan commented on #68
Yes, #57 should solve this.

[2015-07-15 21:00] chenglou opened #69 "Make interpolating collection work on iterables"
This way you get to use libraries like Immutable-js without explicit support for them.

[2015-07-15 23:04] twobit commented on #68
#57 fixes the issue for me. Re Unrelated 2, really nice to see that functionality baked into the library :)

[2015-07-16 06:09] chenglou opened #70 "Stop allocating so much"
Prototyping period is done. Current API somewhat stable. This is still not high-pri (need to get a few other things in, including tests), but time to stop allocating like crazy in core. If we have to we'll turn the codebase inside out to squeeze out that last drop of frame.

[2015-07-16 06:35] bsansouci commented on #70
I have a few optimizations locally, especially when `endValue` returns an array. I'm waiting for #57 to get merged though because I don't want to him to commit suicide after rebasing/merging so many times.

[2015-07-16 09:51] chenglou opened #72 "Component unmounts before a scheduled raf causes setState warning"
This is because we do it one more time here: https://github.com/chenglou/react-motion/blob/664bbc94c2ef6c1d6b94f075cfe932a0d48ae048/src/Spring.js#L386-L389

This can be trivially solved, but we can wait for #57 to be solved and then fix it.

[2015-07-16 13:24] nkbt commented on #69
That is a great idea.

[2015-07-16 22:42] bsansouci opened #73 "change the default of willLeave"
After writing a couple demos with `react-motion`, and looking at other people's demos, I realized that there seems to be a pretty common use case for  `willLeave` which is different from the current default.

The current default is `willEnter = () => null`, meaning that the `TransitionSpring` will unmount as soon as there's a missing key in the return of `endValue`. This default makes sense becaus

[2015-07-17 05:38] threepointone commented on #68
@twobit regarding your first concern - would you prefer an api like https://github.com/threepointone/react-ease? I've been meaning to port it over to react-motion, if possible.

[2015-07-17 10:00] grabbou commented on #29
Any updates? I would love to see it working :) Can help as well as I am currently `into` animations in my app.

[2015-07-17 16:56] twobit commented on #68
@threepointone That looks pretty close but I rely on the object interpolation that Spring is doing

[2015-07-17 18:35] chenglou commented on #31
#57 =)

[2015-07-17 18:35] #31 closed

[2015-07-17 18:38] chenglou commented on #29
I think it's literally just a try catch of require?

@threepointone your spring worked on react-native without changes right

[2015-07-17 20:58] #45 closed

[2015-07-17 23:12] chenglou opened #75 "Move demos into a folder"
Make sure hot reload and builds and all all work.

[2015-07-18 03:12] chenglou commented on #75
#76

[2015-07-18 03:12] #75 closed

[2015-07-18 03:25] chenglou commented on #11
Enough of these have been checked. Closing. We'll work on the rest gradually.

[2015-07-18 03:25] #11 closed

[2015-07-18 06:44] threepointone commented on #54
+1. I also see a future where it'll be used for generating audio waves and stuff :)

[2015-07-18 07:20] nkbt commented on #59
Okay, the mystery of the Century revealed. This is why people still use bower - Rails! Going to explore some ways to support bower without checking in pre-built code into a repo.

I'll make a PR if I come up with some reasonably good solution.

[2015-07-18 11:44] chenglou opened #77 "TransitionSpring bugs on willEnter"
Repro: demo3, type `p`. Remove `p`. Original list doesn't come back because [this](https://github.com/chenglou/react-motion/blob/1ec99fef09a9510a643357f7e2b9c8b7f02e8e68/src/Spring.js#L361) is met.

[2015-07-18 11:45] chenglou commented on #77
@iclanzan

[2015-07-18 11:47] dariocravero commented on #45
Thanks! :)

[2015-07-18 12:36] iclanzan commented on #77
Interesting, I never waited log enough for the animations to finish in my tests so I never ran into this. :)

How is it that it was working before though?

[2015-07-18 12:38] chenglou commented on #77
Probably through some funny combination of booleans?

[2015-07-18 12:38] iclanzan commented on #77
No, but I mean you were still checking the velocity to decide when to stop and yet it was working.

[2015-07-18 12:40] chenglou commented on #77
Aren't we talking about how to restart here?

[2015-07-18 12:42] iclanzan commented on #77
I guess that’s the real issue, yes.

[2015-07-18 14:08] iclanzan commented on #77
What do you think of changing [this line](https://github.com/chenglou/react-motion/blob/master/src/Spring.js#L353) to: `mergedValue[key] = endValue[key];`?

That seems to solve it.

[2015-07-18 16:24] chenglou commented on #77
I'll have to think about the implication of this difference for TransitionSpring. I _think_ this is fine. @bsansouci

[2015-07-18 21:21] bsansouci opened #79 "willLeave called twice at every render"
I think we should stop calling willLeave twice every time we render.
First calls made [here](https://github.com/chenglou/react-motion/blob/master/src/mergeDiff.js#L13) or [here](https://github.com/chenglou/react-motion/blob/master/src/mergeDiff.js#L22). Second call is [here](https://github.com/chenglou/react-motion/blob/master/src/mergeDiff.js#L37).

Among other things, this might cause problems i

[2015-07-18 21:31] bsansouci commented on #77
This will make the raf stop after the first render, which was handled by [this](https://github.com/chenglou/react-motion/blob/5541cca8d569661ec7e183414ca95118faaab875/src/Spring.js#L152) previously. Preventing certain CSS transitions to work.
Example [here](https://gist.github.com/bsansouci/c8c760339f5134c50ac5).

A possible way to fix this is to change [this line](https://github.com/chenglou/reac

[2015-07-18 22:57] chenglou opened #80 "Explore transducerjs/generators for updateCurr*"
cc @threepointone who first mentioned generators for avoiding allocating intermediate stuff. Transducerjs can probably do the same.

Generators might give bad perf (constant overhead) though IIRC. But maybe the Regenerator transform that babel uses avoids that? Have to test the real numbers.

[2015-07-19 00:20] #79 closed

[2015-07-19 04:45] threepointone commented on #80
If interested, have a look at this commit that uses a generator to merge updateCurr* - https://github.com/threepointone/react-motion/commit/69185a62253e048a7a4508c24eafb597904c36cc?diff=split (I also have a change where `stepper` is replaced with a generator, will push that in a bit.)

I haven't had the time to perf test this throughly, but chrome's perf audit shows updateCurr taking slightly high

[2015-07-19 04:47] chenglou commented on #80
Eh, 1k chat heads? Lol

[2015-07-19 05:59] bsansouci opened #83 "the case of CSS Transitions"
Basically, with the current implementation of `Spring`, CSS transitions won't work reliably.

There are two reasons that I can see, maybe more, that causes them to not trigger:
### 1. Will stop rendering after the first frame
If `endValue` returns an array of `ReactElements` there will be no interpolation, only the diffing algorithm will be used.
Start state: `{counter: 0}`
Start of the frame (one

[2015-07-19 11:57] iclanzan commented on #77
I don’t think using a flag is a solid solution. Nor is checking velocity. Different types of simulations have different conditions that need to be met in order to stop. Decay should stop when velocity is 0. A spring should stop when both the end position has been reached and velocity is 0. You could have other types of animations that shouldn’t stop when velocity is 0. For example animations with

[2015-07-19 14:06] bsansouci commented on #77
I would disagree with that actually. I think in this case, stopping the loop is merely an optimization which shouldn't affect the rendering/interpolation. If stopping the loop causes anything to not refresh then we're doing it wrong.

[2015-07-19 18:11] iandanforth opened #84 "Sample Usage code does not work as expected."
Not sure exactly what's going on but if you include react-motion.js and then try to use the Sample Usage code you get errors like:

[code]

adding in

[code]

Removes that error, but then there is a Syntax error in the render() return jsx, then once that's fixed you get

[code]

[2015-07-19 18:15] bsansouci commented on #84
How did you include `react-motion`?
This seems to work for me `import {TransitionSpring} from 'react-motion';`

[2015-07-19 18:24] iandanforth commented on #84
@bsansouci  This is using the built react-motion.js, included with standard script tags. i.e. All client side, no build step other than having jsx transformer.

[2015-07-19 18:29] bsansouci commented on #84
Mmh what does your render look like?

[2015-07-19 18:36] iandanforth commented on #84
![screenshot from 2015-07-19 11 33 53](https://cloud.githubusercontent.com/assets/446062/8767218/58c26bdc-2e0a-11e5-9fdf-0ced641f514d.png)

[2015-07-19 18:37] iandanforth commented on #84
@bsansouci The TypeError happens when clicking on the first div

[2015-07-19 18:53] bsansouci commented on #84
I'm a little confused as to why that would happen. Can you print inside
[code]

[2015-07-19 19:19] iandanforth commented on #84
Object {a: "I am a", b: "I am b", c: "I am c"} "a"

[2015-07-19 19:51] bsansouci commented on #84
Can you try the new demo code and see if it works?

[2015-07-19 20:48] chenglou commented on #77
It's not merely an optimization. It stops to be one the moment you want to expose a `onEnd` callback (though you could argue we should not expose one).

A flag here is fine because what we're doing here doesn't correspond to anything in a physics simulation. There's no such thing as "run one more frame" in that world. We do it because the user receives the previous tick's `currentValue` in `endVal

[2015-07-19 21:02] chenglou commented on #83
Point 2: are you sure this is the issue? This is important. It's because of the new animation loop. @iclanzan

(Assuming it _is_ because of the new animation loop) this is actually somewhat of a relief. I was afraid of cramming more stuff into TransitionSpring for the sake of playing nice with CSS transitions, which really doesn't need an animation loop. Maybe we'll simply pull out the logic into

[2015-07-19 21:52] iclanzan commented on #77
I get it. With the boolean flag I don’t think `currVelocity` needs to be checked to be zero. `newCurrVelocity` should suffice.

[2015-07-19 21:56] bsansouci commented on #83
Actually I might be wrong about point 2. It's possible that what happens is that the onScroll event is fired before willEnter is called, so `alreadyAppeared[key]` is set to true and willEnter just returns `value`, making the thing appear immediately.

[2015-07-19 22:34] iclanzan commented on #83
@bsansouci  While I can’t repro the issue, both your scenarios for point 2 sound plausible. The animation loop can indeed run multiple steps in one frame which could cause what you are describing.

I don’t think the animation loop should be involved at all if it not for coordinating the physics simulation.

[2015-07-20 02:52] bsansouci commented on #83
I added a bunch of `console.log`s, here is what is looks like:

![out](https://cloud.githubusercontent.com/assets/4534692/8768757/e6d5e4c8-2e58-11e5-8bfb-0f96e86783ea.gif)

Basically this shows that a render is triggered by the owner, and slide 11 was added to the scene. Then the handleScroll event fired, and set all slides up until 12 to visited. Then, because `handleScroll` does a `setState`, we

[2015-07-20 07:20] chenglou opened #85 "Provide helpers for interpolating colors and svg paths"
Right now it's possible (anything is possible when you tween a simple value!), but it'd be nice to expose the helpers that takes an interpolated number and outputs the corresponding color/path/whatever else (suggestion?)

[2015-07-20 07:26] chenglou commented on #85
Color: https://github.com/facebook/rebound-js/blob/fe8994c1caca9f0e7ff27336c5ecf0a4abd807dc/rebound.js#L1014-L1046

[2015-07-20 07:31] chenglou commented on #85
Path: https://github.com/andreaferretti/paths-js/wiki/Low%20level%20API

[2015-07-20 08:22] threepointone commented on #36
I have an idea around this.

a gesture recognizer is a reducer on some state _over time_, + change events. just like a flux store! for example, a swipe recognizer requires access to some accumulated time, and the movements made by the finger over that period of time. we can represent this like a flux store

[code]

You can then make a 'tracker' that accepts inputs (much like a flux dispatcher)

[c

[2015-07-20 08:32] chenglou commented on #36
This is the idea, yeah. My version exposed a `velocity`, which you can plug into the upcoming `currVelocity={currVelocity => changeItOrReturnIt}` from `Spring`.

But we can take it up a notch. Return an array of velocities, one for each finger. Order it by time pressed, and pass an accumulated average. We can have generic helpers that takes the list of presses and return something relevant, e.g. `

[2015-07-20 10:31] sphire commented on #36
I'd suggest that this sounds like something to be kept as a separate module. It should still compose well, e.g.:

[code]

[code]

Or potentially using the “function as child”-pattern used in `react-motion` instead of polluting the component's state.

Fundamentally, using `onTouchMove` at the component level is problematic because gestures will cancel once the user moves outside of the `div`. Finge

[2015-07-20 11:14] grabbou commented on #29
[code]
from react-springs, will give it a go

[2015-07-20 12:17] dieppe commented on #36
It seems the [PanResponder](https://facebook.github.io/react-native/docs/panresponder.html) would be something quite interesting for building that on top of.

It does the math (compensated distance, velocity, ...) and is built around the EventResponderPlugin which seems like a very nice abstraction for event handling.

It is [very simple to port](https://github.com/facebook/react/pull/4303) for we

[2015-07-20 17:17] bsansouci opened #86 "Add tests for negative number interpolation"
If the start value is 0 and the end value is -180, it should properly interpolate in the negatives (and should actually start at 0 up until -180).

Note: this works now, we just need to keep it that way.

[2015-07-20 20:31] mikemorton opened #87 "IE9 Support or Failback"
I was just curious if you plan to support IE9 in any capacity?  I know the library relies on requestAnimationFrame and that isn't supported in IE9, but I was wondering if it was possible to have any sort of transition-free fallback, for example rather than animating it could just 'snap' to the final position?

[2015-07-20 20:32] chenglou commented on #87
As of today, master uses a rAF polyfill, so you should be fine. Anything else IE9-related?

[2015-07-20 20:40] mikemorton commented on #87
Wow that's a recent addition?  I'm on 0.1.0.

If so thanks so much and feel free to close this off!

[2015-07-20 20:41] chenglou commented on #87
Part of #57. Post-0.1.0
I'll close this off once we ship the release. I'll ping you by then and check if there's any other IE9-related problems =).

[2015-07-20 20:45] mikemorton commented on #87
Thanks so much!

[2015-07-20 22:28] threepointone commented on #36
woah :D any chance the PanResponder can be ported to just an imperative api/object? We can then wrap it with a component and do the same as above.

[2015-07-20 22:31] chenglou commented on #36
@sphire yeah check my initial snippet. It's children functions. No dirty state injection (yet) please.
And this'll be a separate repo once we finish iterating on it, don't worry. We're not trying to build a monolithic animation framework here.

Regarding PanResponder: I'll leave that to you folks to experiment. I'm afraid of diving into the responder system because it'll constrain my way of thinki

[2015-07-20 23:40] bsansouci opened #88 "can't setState inside the Spring/TransitionSpring"
If you do a call to `this.setState` inside say `componentWillReceiveProps` of the `TransitionSpring`, `animationLoop` won't see the new state. This is because `animationLoop` caches the state while it's running (see [here](https://github.com/chenglou/react-motion/blob/ba77a1a0991a501ccb3676e8bbd0a5d59338f2a0/src/animationLoop.js#L102), it uses `subscriber.value`, which is a reference to this.state

[2015-07-21 01:28] iclanzan commented on #88
Having state outside of the animation loop and into the Spring is totally valid and works with the current animation loop. Having said that, `setState` should still not be called other than in the `renderAnimation` method since it triggers re-renders outside of `requestAnimationFrame`.

[2015-07-21 02:50] yanivtal opened #89 "React-motion doesn't work with Radium"
Radium's a project for inlining styles with react. When I use the @Radium decorator I get the following Javascript error from the Spring's render method.

[code]
in the following code
[code]
React-motion works without Radium and Radium works without react-motion. Here's my render method:
[code]
Any thoughts?

[2015-07-21 03:12] nkbt commented on #89
Do you have a reproducible example somewhere? Maybe your code is compiled in some awkward way so it is not a function anymore that is passed to Spring...
Check your actual built bundle first

[2015-07-21 03:57] chenglou commented on #89
This is the expected behavior. You're asked to provide a single child as a return value to `Spring`'s children prop. Radium does something funny with the children?

[2015-07-21 04:23] bsansouci opened #90 "Reminder: avoid triggering renders outside of the animation loop"
This is just a reminder for the upcoming refactoring/release. We're currently not calling `setState` anywhere.

We should make sure that nothing is triggering renders other than the animation loop to avoid unnecessary renders. We could either never call `setState`, or add an extra property to all calls to `stateState`. Something like `this.setState({...state, shouldRender: false})`. And have `shou

[2015-07-21 04:54] threepointone commented on #89
can you show the radium integration too? we should come up with a generic solution/workaround to avoid this problem with components that rewrite children.

[2015-07-21 09:20] chenglou commented on #72
This is fixed. Reopening so that we can put a test for it.

[2015-07-21 09:39] threepointone opened #91 "Externs for clojurescript"
I expect much fun to be had with cljs+motion. will try this myself, and track here (unless someone else picks it up).

[2015-07-21 09:40] threepointone commented on #91
(This ties into #80)

[2015-07-21 09:46] threepointone commented on #29
Sorry for missing this. The try/catch should work. I didn't try any other workarounds, assuming that react 0.14 will remove this problem.

[2015-07-21 09:46] chenglou commented on #29
0.14 React web will remove this problem. It's not clear when react-native will do it.

[2015-07-21 09:52] threepointone commented on #29
Redux has a separate module altogether. Problem with both these approaches is that it doesn't solve it for people upstream. Another approach is to `import {SpringFactory} from react-motion; let Spring = SpringFactory(React);` but that's just gross.

[2015-07-21 14:37] threepointone commented on #36
Initial work on velocity tracking - https://github.com/threepointone/disto/blob/redux/examples/velocity/app.js

The internals are a hack; I'm calculating delta/period, and using a Spring to smooth over it(!). You could imagine using a velocity tracker object or whatnot.

next up - flings.

[2015-07-21 15:42] yanivtal commented on #89
Where do you post fiddles with react 0.13 and react-motion?

The Radium integration is simply achieved with a decorator:
[code]
You take styles like:
[code]
and then pass in an array of styles to a component. In the example I showed I had:
[code]
where styles.img is the style object and this.imgStyle(val) returns a style object using Spring's val. Both of these are plain style objects and should b

[2015-07-21 17:34] threepointone commented on #89
This seems more like an issue with the way radium rewrites a render tree. I'll have a look sometime this week, but could you file an issue on the radium repo as well?

[2015-07-21 18:56] yanivtal commented on #89
Just did. He says it's fixed on master. Thanks! I'm fine closing this ticket or you use this to track implementing a generic solution to working with components that rewrite children.

[2015-07-21 19:14] chenglou commented on #89
The `children.only` pattern is/will be used but lots of libraries in conjunction with propTypes. Rewriting it and breaking the contact isn't something we should handle imo. So closing this because it's not react-motion specific and we don't wanna handle these =).

[2015-07-21 19:14] #89 closed

[2015-07-21 19:33] rt2zz commented on #29
@chenglou is there any way to use the spring interpolation outside of a react component, or at least outside of the render method? In my tests I am getting much better animation performance calling `myRef.setNativeProps({})` rather than modifying component styles.

I realize this violates the basic declarative principles of the library but something like:

[code]
 Thoughts?

With my current implem

[2015-07-21 19:55] bsansouci commented on #91
I'd loooove to see this work <3

[2015-07-22 04:06] threepointone commented on #89
I had a look at the radium tracker, and it seems like their fix is to ignore components with fn-children o_O. unfortunate result of the way it works internally, so there's not much we can do anyway. @yanivtal, as a quick workaround for your case, I'd recommend using something simpler like css classes / plain objects for the components you're animating.

[2015-07-22 07:50] chenglou opened #93 "Expose `hasArrivedAtEndValue` in `endValue`/`willLeave`/child function callback"
This is much handier than trying to compare final value and velocity and check if latter is now 0, etc.

[2015-07-22 08:35] #84 closed

[2015-07-22 08:45] threepointone commented on #29
You could just use rebound-js, or the other new react native animation library http://youtu.be/xDlfrcM6YBk

[2015-07-22 08:49] chenglou commented on #87
@mikemorton 0.2.0 out now. I'm closing this because I think this works. But ping me and tell me the result please. Thanks.

[2015-07-22 08:49] #87 closed

[2015-07-22 19:51] bsansouci commented on #83
Ok so I was wrong, we don't set a slide visited immediately, we set the previous one (look at [this line](https://github.com/chenglou/react-motion/blob/d00efbe4252e238a500e7d36727bc61d2d6cfeaa/demos/demo5/Demo.jsx#L70), we don't set `last` to `alreadyAppeared`).

So willEnter does execute at least once for every item (though it _might_ not, if you scroll **really** quickly). What happens is that t

[2015-07-22 20:16] iclanzan commented on #83
Isn’t that what I said in my comment above?

[2015-07-22 20:20] bsansouci commented on #83
Ha! I read too quickly. Yes though it doesn't cause what I said before.

[2015-07-23 00:08] rt2zz commented on #29
ya, if I have to :) FWIW react-motion 0.2.0 greatly improved performance. Looking fast enough for my animations.

[2015-07-23 04:21] yanivtal commented on #89
@threepointone That's what I'm thinking. I don't really need radium for that. Thanks. You're quick with it!

[2015-07-23 08:17] chenglou opened #95 "Nesting two springs doesn't work"
cc @iclanzan because I not sure whether that's a flaw in the current implementation of animation loop of the problem of the (which would be a bigger problem).

Edit: no, I think it's just a flaw in the current implementation.

[2015-07-23 08:52] bsansouci commented on #95
There seems to be something very strange happening where the inner Spring would subscribe to the `animationLoop` but never unsubscribe.

I refactored the `animationLoop` code in my [fork](https://github.com/bsansouci/react-motion/blob/dbee34b997b68f36806b3edea8b677da82ad3311/src/animationLoop.js) and it seems to have fixed it.

[2015-07-23 08:55] chenglou commented on #95
Maybe because of an inner component update. Anyhow, glad your fork works. We'll release a 2.0.1 if everything goes alright.

[2015-07-23 12:52] iclanzan commented on #95
Oh, boy there’s all sorts of weird stuff happening in there when nesting because of repeated/unnecessary render calls.

Let’s say `springB` is nested inside `springA`. The animation starts, `springB` decides it needs to stop, but then in the same tick, during the render/filter phase of the animation loop (the same) props are received through the render function of `springA` registering a new subsc

[2015-07-23 15:47] mikemorton commented on #87
I was just doing a quick proof-of-concept prototype so this is by no means an extensive report, but 0.2.0 seems to work in IE9.  Thanks!

[2015-07-23 18:46] chenglou commented on #29
@rt2zz react-motion's still in early phase so there's still a lot of perf improvement to be had. If you can profile your app and tell us where the bottleneck is, we can target them better.

(Don't forget to use the prod build of react that strips out the dev conditional blocks correctly.)

[2015-07-24 02:28] #95 closed

[2015-07-24 07:53] grabbou opened #98 "[React Native] Packager is case sensitive after upgrading to 0.2"
In React Native, it's case sensitive, so `lodash.isPlainObject` does not work. Needs to be all lowercase. After changing that in 3 places, all works good.

[2015-07-24 07:54] grabbou commented on #98
Ok, fixed in this commit https://github.com/chenglou/react-motion/commit/cfd2a4c7d0fd909b964d237f83f77e9bc8f6ba9b

[2015-07-24 07:54] #98 closed

[2015-07-24 12:09] gaearon commented on #95
At least we don't have threads in JS!

[2015-07-24 12:11] nkbt commented on #95
yet!
....webassembly

[2015-07-24 14:25] AndrewIngram opened #100 "Configurable spring precision"
In a typical use case, we're using springs to position an element on the page. Depending on units, we don't need more than a few decimal places of precision to position elements accurately. At the moment, react-motion spits out far more frames than are necessary. I'm not sure exactly how we should do this, maybe something like this:

[code]

Then we could only update the spring's state if `precisi

[2015-07-24 18:13] chenglou commented on #100
Does this have to be customizable? Seems like adjusting our error margin internally is good enough?

Also, we should render at least _once_ instead of just checking the error margin and decide that it's not worth moving half a pixel? You usually have the expectation that your render will be triggered (for e.g. side-effects and all) right?

[2015-07-24 20:16] AndrewIngram commented on #100
Good point, I was thinking in terms of significant figures or decimal places, but error margin is more universally useful. Perhaps a error margin prop that defaults to 0.1%? I'd argue we don't want it bigger, since browsers are capable of non-integer positions, which make sense during animations.

[2015-07-25 18:55] chenglou opened #101 "Nullable return from child function"
[code]
Very handy shortcut for animating one child unmounting.

Right now, we have to use an empty `<div />` placeholder.

[2015-07-25 19:58] chenglou commented on #68
@twobit we've addressed point 2 already. I've made a demo to address point 1: https://cdn.rawgit.com/chenglou/react-motion/2a5f89bee700c6bbb0560eee0c8f9ad66d111bdd/demos/demo5/index.html

Have fun with it =)

[2015-07-25 22:01] #86 closed

[2015-07-25 22:22] #67 closed

[2015-07-25 22:56] nkbt commented on #101
I use this with 0.1.0. Do you mean it doesn't work anymore?

[2015-07-25 23:09] chenglou commented on #101
Really? 0.1.0 enforced the one child return through React onlyChild. This hasn't changed.

[2015-07-26 00:40] nkbt commented on #101
Only child works fine with null.

[2015-07-26 01:59] threepointone commented on #68
Yay!

[2015-07-26 06:18] chenglou commented on #101
It should throw?

[code]

[2015-07-26 07:28] nkbt commented on #101
I'll doublecheck, but I am sure 0.1.0 worked well with this.

[2015-07-26 20:20] mrfr0g commented on #29
FWIW changing the require from `require('react')` to `require('react-native')` works on my project.

[2015-07-26 23:53] chenglou commented on #101
Just checked, didn't work with 0.1.0 (expected behavior). Worked pre-0.1.0 naturally.

[2015-07-27 00:10] #101 closed

[2015-07-27 01:49] #72 closed

[2015-07-27 04:03] bsansouci commented on #83
Closing this because neither `Spring`s support CSS Transitions for now.

[2015-07-27 04:03] #83 closed

[2015-07-27 04:54] chenglou opened #104 "TransitionSpring stops even though `willLeave` never returns `null`"
@bsansouci

[2015-07-27 05:42] chenglou commented on #9
Closed because not an issue. But will always welcome questioning of the general API here!

[2015-07-27 05:42] #9 closed

[2015-07-27 05:42] chenglou commented on #26
Closed because not an issue. But will always welcome questioning of the general API here!

[2015-07-27 05:42] #26 closed

[2015-07-27 05:43] chenglou commented on #14
Closed because not an issue. But will always welcome questioning of the general API here!

[2015-07-27 05:43] #14 closed

[2015-07-27 19:15] ericf commented on #90
Won't people hit subtle bugs with this?

The function-as-child render delegate pattern provides a similar textual cue as the standard element-as-child pattern, the difference is the owner. When combined with arrow functions, I might be using `this.props` inside the render-function-passed-as-a-child to `<Spring>`, so it gives the illusion that `<Spring>` isn't the owner.

So for me, this means that

[2015-07-28 00:43] bsansouci commented on #90
You're right, re-reading this I realize it's wrong. Also after playing around with the `animationLoop` I understand why we need to cache the state. We might need a special `animation.setState` to tell the animationLoop that the state updated. This might be required if we ever add `currValue` or `currVelocity` as a prop.

[2015-07-28 05:37] chenglou commented on #100
Percentage makes sense. But percentage relative to what? Can't be a value that might be 0.

[2015-07-28 08:33] #104 closed

[2015-07-28 08:34] chenglou commented on #93
https://github.com/chenglou/react-motion/pull/105 fixes the case for needing that in `willLeave` (aka not needed anymore)

Won't expose some `hasArrivedAtEndValue` in `endValue` for now. I see no value.

[2015-07-28 08:34] #93 closed

[2015-07-28 09:32] AndrewIngram commented on #100
Damned mathematics... This is why I was leaning towards a custom function, because the API consumer has a better notion of what's considered a big enough change to worry about.

[2015-07-28 18:10] chenglou commented on #91
Talked on slack, will let @threepointone work on this in a fork since this isn't high pri

[2015-07-28 18:10] #91 closed

[2015-07-28 20:01] bsansouci opened #106 "Expose `Spring` constants"
Something like `Spring.constants`

[2015-07-28 20:02] chenglou commented on #106
This is already tracked in https://github.com/chenglou/react-motion/issues/68 btw

[2015-07-29 00:31] chenglou commented on #100
I think configurable error margin (even with a default) exposes too much API surface for the benefit it provides currently. Gotta find some other way of making this work.

[2015-07-29 05:33] #68 closed

[2015-07-29 05:33] #106 closed

[2015-07-29 05:41] chenglou commented on #68
Alright, some carefully chosen constants are now exposed under `constants` [here](https://github.com/chenglou/react-motion/blob/372446fc8679dcdbf4de2e983d53709ab40ce88c/src/constants.js) and will go in the next release (the one after 0.2.2). This, along with that demo I linked above, should ease the usage of spring constants enough for me to deem this issue solved.

As for traditional tweens, @thr

[2015-07-29 05:42] chenglou commented on #73
Fixed by https://github.com/chenglou/react-motion/pull/105

[2015-07-29 05:42] #73 closed

[2015-07-29 05:51] chenglou commented on #61
Alright! @souporserious is experimenting with some simple wrappers [here](https://github.com/souporserious/react-motion-ui-pack). I personally haven't used them yet but they look neat.

As for the simple wrappers, https://github.com/chenglou/react-motion/commit/372446fc8679dcdbf4de2e983d53709ab40ce88c exposes some commonly used spring constants. With these, I think something like:
[code]
is short

[2015-07-29 05:51] #61 closed

[2015-07-29 07:56] twobit commented on #68
Looking forward to the cool new stuff. Latest release looking good, thanks!

[2015-07-29 09:56] chenglou commented on #29
Works now =).

Building react-motion with webpack currently gives a warning about either `react` or `react-native`. Will be improved in the next version. Leaving this open until then.

[2015-07-29 15:47] yamalight commented on #61
@chenglou looks great, thank you!

[2015-07-30 05:52] smussell opened #109 "react-native warning"
I started getting this warning when I require react-motion in my web project.

[code]

[2015-07-30 05:59] threepointone commented on #109
This warning is a known issue because of the way we do react-native compatibility, and should go away with React 0.14. It shouldn't affect your code/project though. In the meantime, add externals : ['react-native'] to your webpack config to suppress these warning.

[2015-07-30 06:15] chenglou commented on #109
It doesn't go away with react 0.14 since react-native still uses `require('react-native')`? Anyways, https://github.com/chenglou/react-motion/issues/29#issuecomment-125900800

[2015-07-30 06:30] smussell commented on #109
Thanks, seems like this is being tracked in #29, so I'll close this.

[2015-07-30 06:30] #109 closed

[2015-07-30 09:50] threepointone commented on #109
Boo, you're right :/

[2015-08-02 16:31] AlexGalays opened #113 "Document the difference with easing + duration"
Hello,

Would it be possible to document the differences between the easing + duration and the stiffness + damping models? Is there a roughly equivalent setting to the common easing curves?

[2015-08-02 20:37] chenglou commented on #113
The brief version is [here](https://github.com/chenglou/react-motion/blob/f774ae5c0a099b40229ce09754e2128fb2f5ca3f/README.md#what-does-this-library-try-to-solve). To make picking your spring constants more intuitively I've made [this](https://cdn.rawgit.com/chenglou/react-motion/c3c5403b6821b7a8954e3c379057ae7d9bbc39d5/demos/demo5/index.html). #68 also talks about it.

I'm leaving this issue open

[2015-08-02 22:18] chenglou commented on #29
Oh yeah, this is solved.

See README: `require('react-motion/native')`

[2015-08-02 22:18] #29 closed

[2015-08-02 22:35] chenglou commented on #70
Closing because too general. Will open specific issues if needed.

[2015-08-02 22:35] #70 closed

[2015-08-03 15:38] balanceiskey opened #114 "Sort order of keys"
Hey there,

I'm trying to understand how react-motion deals with objects and sorted keys and was hitting a bit of a roadblock. It seems react-motion depends on some combination of Babel's use of the spread operator and loose mode. Unfortunately I can't seem to maintain the expected sort order.

Here's a somewhat contrived example:

https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=tr

[2015-08-03 16:11] bsansouci commented on #114
Hey @balanceiskey! Looking at the [specs](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-ordinary-object-internal-methods-and-internal-slots-ownpropertykeys) `integer` props are in ascending order but `String` props are in creation order. You can just append a letter at the front of your number and it works.

[2015-08-03 16:32] balanceiskey commented on #114
WAT. You are totally right and this is absolutely terrifying. @chenglou maybe worth noting in the docs, not sure?

[2015-08-03 16:48] chenglou commented on #114
Pretty terrifying for JS, yes. Here's a good answer: http://stackoverflow.com/a/30244410/960178
Fortunately yes, you can just add a letter to your key and it'll be guaranteed creation order. React itself relies on this externally and internally, e.g. http://facebook.github.io/react/docs/create-fragment.html

Sorry for not documenting this! I'll do it now. I had the impression I've put it somewhere

[2015-08-03 16:49] #114 closed

[2015-08-05 01:25] chenglou commented on #77
Already fixed since forever. Tests in.

[2015-08-05 01:25] #77 closed

[2015-08-05 19:09] stephenotalora opened #124 "Transition Question"
Hi All,

I want to be able to make an async call when a transition completes.

Say for example when a react components completes the animation another component will take over the screen, but before then it will wait until the transition completes.

While I can inspect the interpolated value to reach 'endValue' and fire a call back on my own at that point, I was wondering if there is a cleaner way

[2015-08-05 19:11] chenglou commented on #124
We don't currently expose a callback on transition end because we're afraid of abuses. What kind of async call is it in your situation? E.g. an ajax request?

[2015-08-05 19:20] stephenotalora commented on #124
correct, I was thinking to make an ajax call. Say for example given the animation timeframe it has a beginning middle or end,  callbacks fire at each stage but I only register to one to make a call for the next batch of data.

Another example that came to mind could be as simple as synchronizing animations, say I have component A and component B, while component A is halfway its animation lifecycl

[2015-08-05 21:41] kristoferjoseph opened #125 "Transition appear"
What is the recommended way to add a transition on first render with TransitionSpring?

[2015-08-05 21:41] chenglou commented on #125
`defaultValue` does it =).

[2015-08-05 21:41] #125 closed

[2015-08-05 22:38] chenglou commented on #124
For the first case, I'm still thinking about it. I don't think we'll be able to circumvent callbacks completely, but still thinking.

For the second case, you're talking about staggering/chained animation. Here's my default answer to it: https://github.com/chenglou/react-motion/blob/b1a7889c2a8b73a7456ccaf1973dd1b41d0fc64a/README.md#faq (first point). It's a bit opinionated right now but I do thin

[2015-08-06 20:21] kristoferjoseph commented on #125
nope. :(

[2015-08-06 20:47] chenglou commented on #125
Works from here. Yu can post your code here or come to Slack Reactiflux #react-motion channel: https://reactiflux.slack.com/messages/react-motion/.

[2015-08-07 08:39] constb commented on #62
guys, you're doing it wrong! All you need is a wrapping div. You set and animate height on the wrapper, meanwhile the content block always have ``height: auto`` so you may always know what the *true* height is. You cut it to the wrapper height by having ``overflow: hidden`` on the wrapper. And that's it!

[2015-08-07 08:41] chenglou commented on #62
@constb care to show a snippet? Say you're animating a box that's as high as the text inside it, from that height to 0.

[2015-08-07 09:37] nkbt commented on #62
@constb wrapper is definitely needed if we don't want to mess up the content, but when we don't know the content height, we can't animate it. We first need to render content, get it's height and then do animation.

[2015-08-07 10:04] constb commented on #62
I'm not familiar with react-motion api yet, so I made a simple demo in pure js. http://jsfiddle.net/constb/xur4pf6m/1/ I animate wrapper height that always has height of ``0`` or ``auto`` when not animating. Content lives inside and provides code with height value in pixels. Does that answer the question?

[2015-08-07 10:08] nkbt commented on #62
@constb
[code]
You get the `content.offsetHeight` to do animation. You need to know height of the content to do it. We are talking about animating element which is not yet rendered.

[2015-08-07 10:10] nkbt commented on #62
@constb try to start with `var state = false;` instead ;)

[2015-08-07 10:25] constb commented on #62
@nkbt easy. http://jsfiddle.net/constb/xur4pf6m/2/ my point is - if you need to know content height - render it into a wrapper with ``height: 0; overflow: hidden;`` and then animate wrapper's height. don't animate content height.

[2015-08-07 10:45] nkbt commented on #62
@constb this is exactly what I suggested before =)

[2015-08-07 10:48] constb commented on #62
@nkbt sorry, my bad. )

[2015-08-07 11:47] nkbt commented on #62
@constb no problem, i completely forgot about this issue for a while, since it is not assigned to me. Oh, I wish we can "assign to myself" in Github for not owned repos...

[2015-08-09 00:52] dozoisch commented on #69
That'd be awesome!

[2015-08-11 01:22] derekr commented on #62
What's the best way for grabbing the height of the wrapper?

[2015-08-11 01:34] nkbt commented on #62
@derekr check out this PR https://github.com/elementalui/elemental/pull/31/files for reference.
You will need to check the element height and margins.

[2015-08-11 01:45] derekr commented on #62
Awesome! Thanks @nkbt

[2015-08-11 08:35] chenglou opened #129 "New Spring API draft"
This only concerns animating a single spring for now. I need to prototype a bit more on the springs with dependencies (e.g. chat heads, where the destination of the second head is the current position of the first head) and TransitionSpring, but I think this new Spring is cool enough to stay even if the other solutions don't work out.
(props names are temporary. Not important right now)

`<Spring

[2015-08-11 09:37] borisyankov commented on #129
top: config(10, 120, 17) looks a bit funny. Don't necessarily like the way it looks, and that the main value does gets thrown with the rest.

What about keeping the to={} always pure, and have an optional config={} that contains all the custom configs?

Something like config={{to: [120, 17] }}

[2015-08-11 09:40] chenglou commented on #129
It's still pure either way. And yes, I've thought about that. I'm not sure if it has a parallel with TransitionSpring (you can't provide an independent config since you don't know what the current set of keys are... there are ways around this though). I'll consider it.

[2015-08-11 09:41] borisyankov commented on #129
I meant pure in some 'new-edgy' way, not the functional programming mean ;)

[2015-08-11 13:25] nkbt commented on #129
Everything seems quite reasonable as for me. I'd avoid additional function `config(x,y,z)` and just pass an array instead: `top: [10, 120, 17]`, which makes it somewhat similar to `.eslintrc`

[2015-08-11 16:11] gonsfx opened #130 "Transition between routes"
Is there a way to use this with `react-router` to transition between components?

e.g. implement a page transition like http://www.semplicelabs.com/ with additional stagger on the menu items?

[2015-08-11 17:05] chenglou commented on #130
Something like this? https://gist.github.com/maisano/8faf4bd123fa9842f4ea

[2015-08-11 17:22] chenglou commented on #129
I want to reserve `[10, 120, 17]` for chained animation (there, I've said it). So maybe something else instead?

[2015-08-12 01:53] chenglou opened #132 "Warn against children function not accepting arguments"
Check `func.length`.

[2015-08-12 08:35] chenglou commented on #129
Here's the draft format for `transform`, which is probably what you'd use 50% of the time:
`<Spring to={transform: {translate3d: [10, 5, 0]}} />`
Feels much better than weird string concatenation/interpolation imo.

[2015-08-12 09:10] chenglou commented on #129
There's a slight problem with the new API. In the past, the event handlers could do this:

[code]

On click ,it'll call the handler and pass the currently interpolating value. Can't in this new model since you can't get hold of that very value.

Three solutions:

1. The primary case of this is for drag and drop. I use it in lots of demos. So we should just have better drag and drop. I haven't chec

[2015-08-12 09:15] threepointone commented on #129
alternately, maybe you special case drag and drop? <Div draggable={/* true or options object*/}/> (inspiration from framer, really. might just be pragmatic enough, and actually achieve what the html5 draggable css spec set out to do))

[2015-08-12 09:41] chenglou commented on #129
So you're going with option 1? In that case, we'd need to list all the common usages of getting hold of the interpolated value. I don't want to special case drag and drop then realize there this other usage I didn't think of, and then end up with either solution 2 or 3 anyways.

(Btw, just tested 2. Works)

[2015-08-12 09:45] threepointone commented on #129
Just exploring/ giving options. But saying that the new api already looks like a special <div/>, and draggable has a spec of sorts.

No 2. should happen in any case. :+1: No. 3 also should be doable, really.

[2015-08-13 08:02] gonsfx commented on #130
I'm afraid i don't know how to use that.
Tried using it as a parent route component in `react-router@1.0.0-beta3`, didn't work too well.

[2015-08-13 08:03] chenglou commented on #130
@maisano care to help a bit here please?

[2015-08-13 08:14] nkbt commented on #130
@gonsfx http://in-flux.github.io/component-router/example ?

[2015-08-13 15:18] maisano commented on #130
oof, i should really add some usage docs to that gist.

@gonsfx the `RouteTransition` component was written not to be a route component, but a wrapper for rendering children. e.g.:

[code]

[2015-08-13 16:00] cheapsteak commented on #130
Does that mean all children will animate in the same way? (can't have one child come in from the bottom, another from the right)

[2015-08-13 16:09] maisano commented on #130
in this implementation of `<RouteTransition>`, all children being added will animate the same. the same goes for children being removed. however, it would be pretty simple to do some path comparisons and pull from a series of preset transition values. you could also pass in the history action for a particular transition.

[2015-08-13 18:24] maslianok commented on #69
+1

[2015-08-14 00:50] jdeal commented on #129
@chenglou What about controlling the precision on something that isn't pixel-based? For example, an opacity-based animation currently has that fall-off problem where react-motion takes forever to reach 0. The element is basically invisible, but it keeps animating anyway.

FWIW, awesome work though!!! This one tiny edge has been the only rough spot for me.

[2015-08-14 00:52] chenglou commented on #129
That example of height with pixel is really just an example. Internally we'll check the property name and do the correct precision rounding. For opacity it's, say, 2 digits.

[2015-08-14 01:04] jdeal commented on #129
Ah, cool, thanks!

[2015-08-14 06:13] gonsfx commented on #130
@chenglou Thanks for pointing me in the right direction
@maisano Thanks for your clarification - that works okay-ish but is a good starting point for further inquiry.

Followup questions:
- On initial load of the app, the component shown first is not transitioned in. How can i achieve that?
- The `RouteTransition` only transitions the immediate child - what if i'd like to transition multiple child

[2015-08-14 09:52] daniel-gustafsson commented on #129
Looks like a very nice simple to use spring API.

May I suggest added support for choosing the element type instead of div inside the spring? Could be something like this for render():

[code]

And then you could optionally pass a factory like for example <Spring factory={React.DOM.tr}</Spring> if you want to say animate the background color of a tr on hover.

Custom element support would require

[2015-08-14 10:26] chenglou commented on #129
I was afraid this'd come up. Yeah, it's additional API surface for not much return. `div` can substitute most element (sometimes with a bit of css) and beside e.g. tr background there's nothing much to animate for a tr anyway? I'll think about it.

[2015-08-14 10:40] threepointone commented on #129
counter - `<Spring component={View}/>` will mean we can do react-native, -canvas, etc etc.

[2015-08-14 12:01] daniel-gustafsson commented on #129
I of course respect if you think it is a bad idea.

I do like the power of the old spring and will miss it if it will go away entirely. Not sure if that is the intention? Maybe I should just wait and see how the new API ends up :)

[2015-08-14 13:25] jarib commented on #85
:+1: I could use this!

[2015-08-19 08:13] chenglou opened #133 "New dependent Springs API draft"
(See ordinary spring API: #129)

One of the less mentioned but extremely powerful feature with springs is their dependency. In the old API, it looked like this:

`<Spring endValue={prevValue => ...}>{interpolated => ...}`

where `endValue` is a function that accepts the values of the previous tick. Once you get the ability to read the values from the previous tick, you also get to establish depend

[2015-08-25 18:12] amannn commented on #60
Any news on this? :)

[2015-08-25 18:13] chenglou commented on #60
Not yet; hopefully soon.

[2015-08-25 21:13] marclar opened #135 "Unsure of syntax when using CJSX"
I'm trying to copy [Demo 8](https://github.com/chenglou/react-motion/blob/master/demos/demo8/Demo.jsx), but my project uses coffeescript and cjsx.

I think it's close to working, but this bit in particular throws an error:

[code]

I'm not sure how `{items =>` functions; I'm not too familiar with ES6, but I get `items is not defined` when I run this code.

Any ideas? Thanks so much. Beautiful libr

[2015-08-25 21:21] chenglou commented on #135
That's the `children` prop which in this case accepts a callback. The ES5 version would be `<B>{function(items) {return ...}}</B>`. That syntax in CJSX should have worked?

[2015-08-25 21:24] marclar commented on #135
Thanks, @chenglou -- I think all I needed to do was to change

`{items =>`

to

`{(items) =>`

I still don't have it working exactly like the demo, but now the page renders and it seems I can reorder things.

Thanks!

[2015-08-25 21:24] #135 closed

[2015-08-25 21:25] chenglou commented on #135
Ah that's right, CoffeeScript has mandatory parens for a single argument... Alright. We're all active on Slack so feel free to post questions there too.

[2015-08-25 21:27] marclar commented on #135
Cool -- thank you.

[2015-08-27 16:16] marclar opened #136 "Demo 8 only accommodates 4 items"
After having some difficulty with a dynamic list of items, I cloned the repo and edited Demo 8.

I changed `range(4)` to `range(8)` and I see the same behavior.

If you drag one of the items near the end of the list, it can only be moved to the 4th spot (not the 5th, 6th, 7th or 8th.)

Any ideas?

P.S. I would have asked in the Slack room, but I'm not sure if I need to be invited first. I just tri

[2015-08-27 17:21] johnamiahford commented on #136
Hey @marclar, you can sign up here <http://www.reactiflux.com/> and find #react-motion in the channels list!

[2015-08-28 06:10] #136 closed

[2015-08-28 06:12] chenglou commented on #136
Yeah the "invite" message is super misleading. It's nothing but a sign up page.

@marclar I've pushed a new commit that shows what you had to change: https://github.com/chenglou/react-motion/commit/4bde5cd03a2e03c299fe2d74d02b7410f6273470#diff-a5c97fa5065182ffc820c58359237cd5R60

It works now. Feel free to play around with it =). Thanks for pointing it out!
If you're wondering how this works then

[2015-08-29 14:23] wilfreddenton opened #137 "Is it possible to animate the mounting of a component?"
For example, in this [demo](https://cdn.rawgit.com/chenglou/react-motion/e8f42dcd9678a8cea8648a3cf4f994583a99e7f7/demos/demo3/index.html), is it possible to have the listview animate when it's mounted in the same way that searching "asdf" and then "" animates the view? This would be useful for when a listview is toggleable.

[2015-08-29 20:00] threepointone commented on #137
Total guess, but should be possible by starting with 0 items, and then adding them in after a setTimeout(fn, 0)?

[2015-08-29 20:28] souporserious commented on #137
Yes, just provide a defaultValue and then whatever you want your endValue to be. You can see a working example here: http://codepen.io/souporserious/pen/dde7064750f523bfa934da2d6e201af4?editors=001

[2015-08-29 20:53] chenglou commented on #137
^ Yep!

[2015-08-29 20:53] #137 closed

[2015-08-31 01:28] alexreardon opened #139 "Question: how to tell when an animation is finished?"
Is there any way currently to determine when an animation is completely finished?

[2015-08-31 01:29] chenglou commented on #139
Right now if you're using a non-wobbly spring, you can check for the current value passed to you by the children function. In other cases probably have the current velocity passed to you too.

I'm planning to expose such a boolean in the future.

[2015-08-31 01:30] alexreardon opened #140 "Question: timed animation"
Is there anyway to have a timed animation? Stiffness and damping would be auto calculated based on distance / time.

[2015-08-31 01:33] chenglou commented on #140
Not currently, since it's against the goal of interruptible animation. Might expose these in the future, I'll see. I'd rather people adjust the spring to achieve a good "feel" rather than putting a random number. Here's something that might help you find the parameters you want: https://cdn.rawgit.com/chenglou/react-motion/e8f42dcd9678a8cea8648a3cf4f994583a99e7f7/demos/demo5/index.html

[2015-08-31 01:38] alexreardon commented on #139
`willEnter ` or `willLeave`?

[2015-08-31 01:39] chenglou commented on #139
Yep, check `currentSpeed`, passed at last in both callbacks.

[2015-08-31 02:17] alexreardon commented on #140
My current goal is to build a time lapse. I need to animate each step in full before going to the next step. Currently I am guessing based on spring and dampness; but the time for animation could be different as distances between start and finish positions can vary.

[2015-08-31 02:19] chenglou commented on #140
What kind of time lapse specifically? I'm actually planning to support sequential animation, so maybe checking the completion each time isn't even the best way to do it for you.

[2015-08-31 02:20] alexreardon commented on #140
Yep; time might not be the best way. Really I want to know when the previous animation finished: https://github.com/chenglou/react-motion/issues/139

[2015-08-31 02:24] chenglou commented on #140
Sequence it is then?

So there are two types of sequences here. One is pre-prop, where your prop goes to the next destination value when the current one finishes. The other is per-"set of props", where you want all the props (each of which might have a different end time) to finish all before starting another set. Which one do you need?

@threepointone

[2015-08-31 03:17] alexreardon commented on #140
Currently I have a control that sets the current state. I want to know when the animation finishes so that it can set the next state (which would be animated to)

[2015-08-31 03:19] alexreardon commented on #140
So I won't have a series of animations set up ready to go. Rather, I just need to know when the current animation is finished so I can update the application state. Similar outcome to chained animations though

[2015-08-31 05:20] alexreardon commented on #139
I am struggling to figure out how to use the callbacks to let my app know that the animation is finished. Would you mind posting a simple example?

[2015-09-01 07:22] chenglou opened #142 "Expose some dev-time util for getting a duration estimation"
I'm still against hard-coded duration, and RM likely won't expose a spring where the user specifies one of `{stiffness, damping}`, and the spring gives the other, given a determined duration. The moment we do that, interruptible animation becomes unsolved again.

For the people who wanted to have a feel of how long a spring lasts, I've directed to https://cdn.rawgit.com/chenglou/react-motion/e8f42

[2015-09-02 07:37] chenglou opened #144 "`npm run lint` fails"
Haven't checked into it; we should make it work again.

[2015-09-02 08:14] #144 closed

[2015-09-02 23:19] amannn opened #147 "Additive behaviour"
Coming from [your example from react-tween-state](https://rawgit.com/chenglou/react-tween-state/master/examples/index.html): Could it be possible, that react-motion uses the "Slightly smarter Destructive Transition" by default? Is it possible to change this to the additive behaviour?

Thank you very much!

[2015-09-02 23:23] chenglou commented on #147
Nope. With a spring, you get the "additive" behavior for free. Actually, the additive behavior for normal easing curves is an escape hatch for those to model a spring, in the sense that you want a smooth curve where you wouldn't get one with an ordinary interrupted e.g. easein (see more explanation [here](http://iosoteric.com/additive-animations-animatewithduration-in-ios-8/)). It also doesn't wor

[2015-09-02 23:23] #147 closed

[2015-09-03 09:59] amannn commented on #147
Your right, thanks for the explanation!

I experimented a bit with the first demo and found that the additive behaviour like in the react-tween-state demo is especially visible with lower dampings. E. g. a spring setup with `[10, 2]` shows a similar behaviour for the interruption (hower it overshoots quite heavily on the edges). So as you said, i guess that's just the way physics animation feels l

[2015-09-09 03:51] maicaiyao opened #149 "Completion Callback"
Hi,

Is there support for a callback after the animation is completed? Like the one provided in React-Native animation. https://facebook.github.io/react-native/docs/animations.html

Thanks!

[2015-09-09 03:52] chenglou commented on #149
Not yet, merged into https://github.com/chenglou/react-motion/issues/139 =)

[2015-09-09 03:52] #149 closed

[2015-09-09 03:54] chenglou commented on #139
As in, you can do a simple `if` check inside `willLeave` for the currentSpeed value. The structure of currentSpeed is similar to that of endValue you provided. You can console log it and check it.
It's a hacky though. I'll provide hooks in the future.

[2015-09-10 00:10] olance opened #150 "Help on getting started"
Hi!

I find the demos and their performance really promising so I'd really love to use react-motion in a project of mine, but I can't get my head around how to use it efficiently (if at all) :\

Here's my use case. I'd appreciate if you could guide me through what's behind `endValue`, `willEnter`, `willLeave` in relation to the life cycle of a component, how to think an animation with those and bu

[2015-09-11 11:49] yotamDvir opened #151 "TransitionSpring elements don't leave and enter when replaced, unique keys not working"
I have a TransitionSpring wrapping a list, whose elements get replaced using [redux](http://rackt.github.io/). I gave elements unique keys, and still elements only enter or leave to accommodate for a change in their numbers. That is, if there were two elements before, and now there are three, the third element will enter, but the other two will just get their contents replaced instead of the prior

[2015-09-12 06:23] chenglou commented on #151
What does your `getEndValue` look like? Also, see here: https://github.com/chenglou/react-motion#little-extras. Don't use numbers as your keys.

[2015-09-12 08:47] yotamDvir commented on #151
[code]
Also, I just use the `text` property for the id, which aren't numbers...

[2015-09-12 16:51] akre54 opened #153 "Interpolator function"
I am trying to animate an SVG `path` element's `d` attribute using `d3.interpolate`. It looks like react-motion only supports numerical values at the moment, and it also looks like there isn't a way to set a custom interpolator function. Any plants to fix either of these?

[2015-09-12 16:54] akre54 opened #154 "`defaultValue` should be passed `prevValue`"
Currently the `endValue` prop can be either an object or a function that is passed the `prevValue` and returns an object. Can `defaultValue` also have this feature? It'd be cleaner than using `setState` in my component lifecycle.

[2015-09-12 17:34] chenglou commented on #153
Yep! The next next version will recognize special key names in your object, such as `height` and [insert your whatever path attribute here]. `height`, for example, will interpolate in the domain of integers since browsers round the number anyway. Got an API in mind for path?

[2015-09-12 17:38] chenglou commented on #154
Unless I'm missing something, it doesn't make sense to have `defaultValue` as a function accepting `prevValue`, since there's no `prevValue`.
A bit of context: `defaultValue` used to not be there. To animate on mounting, you'd use the conditional check:

[code]
But this wasn't discoverable enough, and people made mistakes when they forget to do the null check, which is why I pulled out a `defaultV

[2015-09-12 17:38] #154 closed

[2015-09-12 17:44] akre54 commented on #153
Awesome to hear! I was thinking more like an arbitrary value interpolator, so that as long as you return the values in a way your own code can use you'd be fine.

`<path>`'s [`d` attribute](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/d) takes a string in the form "M50,100...", where the numbers are distinct values meant to be read separately. I'd like to be able to use `d3.interpola

[2015-09-12 17:59] chenglou commented on #153
cc @threepointone who's interested in this.

[2015-09-12 17:59] akre54 commented on #154
Perhaps I'm misunderstanding prevValue then. My goal is to treat it like `componentWillUpdate` / `componentDidUpdate` operating on props. Is that the wrong way to think about this?

[2015-09-12 18:01] chenglou commented on #154
`defautValue` is only ever used at the very first render, akin to React's `defaultValue` for inputs. So it's likely not what you're imagining. What's your use-case?

[2015-09-12 18:02] akre54 commented on #153
I can try to whip something up on Monday if nobody gets to it before then.

Basically I'd like

[code]

[2015-09-12 18:13] akre54 commented on #154
A line that animates when new data comes in.

http://bost.ocks.org/mike/path/

It looks like the new api for start and end value may be the right way to
go?

On Sat, Sep 12, 2015, 14:01 Cheng Lou <notifications@github.com> wrote:

--

Adam K (mobile)

[2015-09-12 18:15] chenglou commented on #154
Does the shape of `endValue` changes?

[2015-09-12 18:15] akre54 commented on #154
Shape stays the same.

On Sat, Sep 12, 2015, 14:15 Cheng Lou <notifications@github.com> wrote:

--

Adam K (mobile)

[2015-09-13 11:20] yotamDvir commented on #151
Somehow works now. Since this post I've made a change in my app to ImmutableJS that broke some functionality, among which was changing all the element keys to `true`. After I fixed it so the id's are back to normal, the problem disappeared. Still don't know why it works though... Will update if I find out - for now I'm closing the issue.
Thanks!

[2015-09-13 11:20] #151 closed

[2015-09-13 21:43] chenglou opened #155 "Need a test reporter with visual diffing"
@nkbt
Comparing a collection with another one is a bit tedious and looks like this currently:
![screenshot 2015-09-13 17 42 55](https://cloud.githubusercontent.com/assets/1909539/9839155/e0d2d402-5a3e-11e5-8ef8-9b812684dd36.png)
Ideally we'd have a visual diff of the collection. But I kinda don't want to lose the nyan cat (yeah really) lol, is there something we could do here?

[2015-09-13 22:14] nkbt commented on #155
Yeah, I found it quite not fun for myself either recently but did not have a chance to look at the solution.

[2015-09-14 02:58] aputinski opened #156 "Refactor demo1 to use <Motion>"
I attempted to refactor demo1 (chat heads) to use the new `<Motion />` component, but it looks like interpolating an array of values is no longer supported? Also, couldn't figure out how to get the previous interpolated value.

[2015-09-14 03:38] chenglou commented on #156
That's actually what I'm doing next =). Hopefully you didn't miss the warning in the readme? I'll bold it to make sure people don't miss it.

Leaving this open until I finish the refactor!

[2015-09-14 04:53] aputinski commented on #156
Thanks! Are you referring to using integers as the object keys? If so, I did in fact miss that part.

[2015-09-14 05:05] chenglou commented on #156
Oh no (although I should highlight that part too...), just the warning that the repo's going through refactoring and I temporarily dropped support for the staggered springs that you wanted. I'm putting it back soon.

[2015-09-14 05:16] chenglou commented on #156
To be more precise and for future reference: interpolating an array of styles, without accessing the previous value, won't be supported anymore. You can just create an array of `Motion` instead. Same thing.

Interpolating an array of styles, where each style depend on some other (thus requiring the access of previous style), is what I'm working on restoring right now.

[2015-09-14 06:22] chenglou commented on #156
Update: it's back =).

[2015-09-14 14:29] aputinski commented on #156
Thanks! Really appreciate it. This library is awesome.

[2015-09-14 14:53] #156 closed

[2015-09-14 15:14] chenglou opened #157 "Chat heads don't animate to position correctly initially (without moving cursor)"
Repro: chat heads, don't move mouse. See that the heads don't animate to `250, 300` even though `defaultStyles` and `styles` are set.

Probably has something to do with the stop check (again...).

@bsansouci

[2015-09-14 16:08] akre54 commented on #153
The tests on master appear to be broken, but would something like this work?

[code]

[2015-09-14 16:11] chenglou commented on #153
(Tests on master should be passing btw, just checked)

[2015-09-14 16:14] akre54 commented on #153
Ah ok, I just pulled down the latest. I'll add some tests then send a pull in a sec.

I'm having a hard time wrapping my head around the `val` and `currentStyles` parts of the API. Why not have transitions simply be generic interpolators capable of transitioning between arbitrary values?

[2015-09-14 19:17] chenglou opened #158 "Put debug mode in the new react devtools"
Once it becomes extensible, we can bring the slowmo, [parameters chooser](https://cdn.rawgit.com/chenglou/react-motion/e8f42dcd9678a8cea8648a3cf4f994583a99e7f7/demos/demo5/index.html) and even onion skin into the devtools.

[2015-09-14 19:18] gaearon commented on #158
Anywhere I can read on extensibility plans?

[2015-09-14 19:20] chenglou commented on #158
Inside @jaredly's head maybe? =)

[2015-09-14 19:20] gaearon commented on #158
That's what I thought!

[2015-09-15 15:23] jaredly commented on #158
Haha sorry about that. I'll put a gist together w/ my plans. The [relay plugin PR](https://github.com/facebook/react-devtools/pull/200/files) makes some of the changes needed to have a reasonable plugin system.
My current plan is to have any plugins live inside the react-devtools repo, b/c co-versioning multiple chrome extensions sounds like a nightmare :(

[2015-09-15 19:34] rbsmidt opened #159 "Issues with initialisation"
Hello
I've been trying to get started with React Motion. I'm having some issues though. I'm hoping someone in here can explain how to init react motion correctly.

I'm using webpack with babel-loader to compile my JS, and installed React and React Motion via npm. I've been trying with different init commands:

1)
[code]
2)
[code]
3)
[code]

All three methods declare React correctly, but Motion and

[2015-09-15 19:41] #159 closed

[2015-09-15 19:41] chenglou commented on #159
Hey, the master's using an experimental API. I've put up a new REAME in the demos folder to clarify that. Thanks!

[2015-09-15 19:44] chenglou commented on #159
Convenient link: https://github.com/chenglou/react-motion/tree/f53ec099dca159e23fc4ed1b656bb5555c166da1/demos

So tldr: you've probably installed 0.2.7 and are checking out github's demos

[2015-09-15 19:48] rbsmidt commented on #159
Ahh that would explain! Thanks a lot for your fast reply. So just to be sure, v 0.2.7 is the latest stable release, and also the one exposed when running npm install react-motion, right?

Again thank you for assistance, i'm looking forward to get started with the lib!

[2015-09-15 20:01] chenglou commented on #159
Yep =). You can check `node_modules/react-motion/package.json` to be sure.

[2015-09-16 03:16] APPLLEJN opened #160 "Uncaught TypeError: Cannot read property 'scale' of undefined"
I copy the demo8 code, but he has a mistake.
Uncaught TypeError: Cannot read property 'scale' of undefined
![react-motion](https://cloud.githubusercontent.com/assets/12135227/9895644/6374a6c0-5c64-11e5-9fda-90a8b31028e7.png)

[2015-09-16 03:42] chenglou commented on #160
Hi, can you be more precise? With version of react-motion are you using? And which version of the demo code?

[2015-09-16 04:29] APPLLEJN commented on #160
the version is  0.2.7, is the defaultValue required?

[2015-09-16 05:55] chenglou commented on #160
No it's not. Is it possible to see your code?

[2015-09-16 14:46] APPLLEJN commented on #160
thank you, I have fixed this bug...is my mistake

[2015-09-16 14:46] APPLLEJN commented on #160
thank you, I have fixed this bug...is my mistake

[2015-09-16 14:46] chenglou commented on #160
:+1:

[2015-09-16 14:46] #160 closed

[2015-09-17 11:57] mrtnbroder opened #161 "Event handlers within children stop functioning"
I'm having a weird issue when using `TransitionSpring`, where any event handlers I setup, stop working (e.g. `onClick={this.whatEverFunction}`).

These are my components: https://gist.github.com/mrtnbroder/a21217cd9ddbae6fdfec

Notice that my `onClick={this.handleOverlayClick}` doesn't work, *UNLESS* its transitioning(*!*), which is really weird. So lets say I trigger the modal, the transition kic

[2015-09-18 20:13] alexcurtis commented on #139
@chenglou is willLeave available on a Spring? -- I couldn't see it in the source. Like you mentioned, it would be great to have a bool / callback to simplify this down.

[2015-09-20 13:18] alexcurtis opened #162 "Mocha Hanging / Not Exiting When Using A Spring"
Testing a component that uses a Spring seems to result in Mocha (not cli but gulp-mocha) to hang / not exit correctly after running tests. I've had this before with other tests where there is a lingering callback -- like an open db connection etc. Is there anything in react-motion that would cause this? I'm using jsDom.

[2015-09-20 15:34] alexcurtis commented on #162
Used Karma + Chrome instead of jsDom.

[2015-09-20 15:34] #162 closed

[2015-09-22 09:00] jasonHzq opened #163 "Question: why not use x = restX + maxX*sin(sqrt(k/m)+sqrt(k/m)"
why not caculate position using x = restX + maxX*sin(sqrt(k/m)+sqrt(k/m)? It only relate to t,you may not use a fixed frame time.

[2015-09-22 19:23] kendagriff opened #164 "`willEnter` and `willLeave` not firing"
Am I understanding correctly that `willEnter` should fire upon mount, and `willLeave` will begin firing upon unmount?

I'm testing `TransitionSpring`, and I cannot get either to fire. Here's a short snippet...

[code]

I'm debugging both the `willEnter` and `willLeave` functions, and neither get kicked off.

[2015-09-22 19:24] chenglou commented on #164
What does your `endValue()` look like? Don't forget that `willLeave` fires when the return value from `endValue()` is missing a key that previously existed in the previous `endValue()`. Same for `willEnter`.

[2015-09-22 19:28] kendagriff commented on #164
Ah, that must be it. I'll check that out stat. Thank you!!!

[2015-09-22 19:29] chenglou commented on #164
Which part of the README wasn't clear enough? I need to improve it.

[2015-09-22 19:52] kendagriff commented on #164
From my perspective – having come from React's TransitionGroup – it wasn't immediately clear to me that Spring was not also responsible for unmounting. After digging through Issues on the Github repo, I indirectly discovered that wasn't the case – that the interpolations didn't simply work backwards (duh).

So, I turned to `TransitionSpring` assuming I'd find the answer. The docs dive right into a

[2015-09-22 19:53] chenglou commented on #164
By complicated example, you mean the TodoMVC one?

[2015-09-22 20:08] kendagriff commented on #164
This part struck me as dense for a minimum viable TransitionSpring implementation. After reading it about six or seven times, it began coming together ;)

[code]

Thanks for opening up the docs to critique!

[2015-09-22 20:57] boyswan opened #165 "Cannot read property '_id' of undefined (via UpdateTree // MongoDB)"
I'm getting an error when using the RouteTransition component found here:

https://gist.github.com/maisano/8faf4bd123fa9842f4ea

When trying to access a route (react-router) which is loading data from a server via MongoDB, updateTree doesn't seem to like Mongo's ObjectID BSON type for the _id that is auto generated.

Hopefully there is a fix for this, React Motion is the best animation library :)

[2015-09-22 21:14] chenglou commented on #165
Thanks! You mean it recurses down that data structure when it shouldn't? In that case you should cancel the recursion down that tree through the spacial config `[]`. Do you know what I'm talking about?

[2015-09-22 21:21] boyswan commented on #165
Afraid I'm not familiar with spacial configs! But preventing it from going down the data structure makes sense

[2015-09-22 21:24] chenglou commented on #165
You wrap whatever you don't want RM to traverse down with `{val: yourCollection, config: []}`. So in your case, it's possible that in the upper level there was a `{val: stuffThatContainsYourCollection, config: [120, 16]}`. Once RM sees `val` without a special `config` it'll recursively animate every number in the collection.

(This behaviour is powerful, convenient but very confusing. I'm getting

[2015-09-22 21:51] boyswan commented on #165
I kind of understand-ish... ? haha

So in the RouteTransition gist, this.props.children is used in getEndValue via handler.

[code]
Am I right in thinking thats what I need to prevent RM from traversing down?  It's a little tricky to wrap my head around!

[2015-09-22 22:06] boyswan commented on #165
Oh I think I understand a bit more now, I wrap my collection with the val object in order to prevent it from being 'checked' when RM gets down to it. Is that correct?

[2015-09-22 22:30] chenglou commented on #165
Yes. Example:
`{val: {a: 1, b: [1,2]}, config: [120, 16]}` <- this animates both `a` and the items inside `b`.
So when you have e.g. `{val: {a: 1, b: mongoCollection}, config: [120, 16]}`, it animates that whole thing "accidentally". To cancel it out you do: `{val: {a: 1, b: {val: mongoCollection, config: []}}, config: [120, 17]}`.

[2015-09-22 22:32] chenglou commented on #165
Over time I've found that there's not much benefit in animation a whole collection for you. I'm removing that capacity in the next version, and for the edge cases where you do actually want to animate a collection, there will be a clear, obvious API.

[2015-09-22 22:33] boyswan commented on #165
Perfect, thanks for your help!  In the meantime i'll try to get it working, if not then i'll wait for the next version. Thanks again for RM :smile:

[2015-09-23 03:15] #163 closed

[2015-09-23 03:19] chenglou commented on #163
Didn't have time to look at this. Why is this closed? (Also, we used some logic to make sure we loop the correct amount of times even with a fixed frame time)

[2015-09-23 22:31] chenglou commented on #139
Nope, `willLeave` doesn't mean what you think it means in this case. There's no component leaving for  Spring.

[2015-09-24 08:32] oliviertassinari opened #166 "What is the default value of config?"
The default `config` almost fit my needs but I need to change it a little bit.

[2015-09-24 08:52] threepointone commented on #166
[170, 26]. https://github.com/chenglou/react-motion/blob/master/src/presets.js

[2015-09-24 09:00] oliviertassinari commented on #166
Thanks, could be great to have it in the README.

[2015-09-24 14:03] chenglou commented on #166
It's there actually: https://github.com/chenglou/react-motion#presets
=)

[2015-09-24 14:03] #166 closed

[2015-09-24 14:07] oliviertassinari commented on #166
My bad. Thanks!

[2015-09-24 14:55] sikhote commented on #62
It works well to get the height (post-render) and then animate from 0 to that height. One hiccup along the way is when the content that has just rendered has images—these images might not fully load for a second or two, causing a div to be cut short and showing all content (becuase the images that eventually render take up extra height, sometimes). To make it work, one solution is having some sort

[2015-09-24 15:28] benjeffery commented on #60
I'd love to see some way to do this too, just being able to set current state and velocity would cover my use case - I tried with setState but I'm guessing #88 prevents this working.

[2015-09-24 16:34] azproduction opened #167 "Transition precision"
I have an opacity transition from 0 to 1 when I am adding an item and from 1 to 0 on item removing.

When having transition from 0 to 1, a few last animation frames are trembling near 1 (0.9981, 0.9991 and so on), which is completely unnoticeable.

The other way around has issues. When animating from 1 to 0, a few last animation frames are also trembling near 0, but it takes something like third o

[2015-09-24 17:33] chenglou commented on #167
The stepping precision will be configured for you in the next next release. We'll recognize opacity and round it to the correct number of decimals (2 in this case). Closing this in favour of #100! =)

[2015-09-24 17:33] #167 closed

[2015-09-24 17:42] azproduction commented on #167
Thanks!

[2015-09-24 19:33] sompylasar commented on #62
The layout could change due to elements other than images, too.

The best would be to handle the elementresize event via its polyfill (there
is one based on overflow events, without polling the DOM for size changes,
sorry cannot provide the link now).

[2015-09-24 20:19] sikhote commented on #62
Something like this? https://www.npmjs.com/package/element-resize-event or http://www.backalleycoder.com/2013/03/18/cross-browser-event-based-element-resize-detection/

[2015-09-24 20:58] sompylasar commented on #62
@sikhote Yeah! I stumbled upon this one before: https://github.com/sdecima/javascript-detect-element-resize (inspired by http://www.backalleycoder.com/2013/03/14/oft-overlooked-overflow-and-underflow-events/ ).

[2015-09-25 13:13] nlhkh opened #168 "Replay animation"
I have a use case where I need the animation to replay on rerender. Does react-motion support such thing?
The way I see it is that a Spring will hold on to the current `value`, and then spring to the new `value`, whereas I wish to replay from `defaultValue` to `endValue` again.

[2015-09-25 13:14] chenglou commented on #168
Not currently, since the starting position of your animation is the currently interpolated position (a good default of course).
I might expose hooks to override the current position in the future.

[2015-09-25 13:15] nlhkh commented on #168
Sounds like a good plan :+1:

[2015-09-25 14:32] jclyons opened #169 "Create WebJar"
Can you publish react-motion as a WebJar in org.webjars for simple inclusion in projects for JVM-based languages?

[2015-09-25 14:36] chenglou commented on #169
Humm, frankly I have never heard of web jars before. I won't be supporting something I know I don't understand in the future, so I'll have to pass on this one, sorry.

That being said, it should be just a step in the build process (that I nonetheless am not familiar with) right? You're welcome to fork this and keep a built version for yourself =)

Sorry again!

[2015-09-25 14:36] #169 closed

[2015-09-25 15:30] sgrove commented on #169
@jclyons What would it take to make publishing RM as a WebJar an optional, seamless one-command task?

[2015-09-25 17:39] jclyons commented on #169
Typically people use Maven along with a pom.xml. So you'd have to add a pom.xml file to your directory root. It's worth looking at the WebJar repository for React itself:

https://github.com/webjars/react

Then you'd use the Maven CLI to publish it to the WebJars repository (or another, possibly private repository.)

Another option would be to use sbt which is what I do since I'm more familiar wit

[2015-09-25 17:42] jclyons commented on #169
The most relevant things to know are on this page:

http://www.webjars.org/contributing

It's pretty simple - the most important thing is that the assets are in the correct directory inside the WebJar: META-INF/resources/webjars/${name}/${version}

[2015-09-25 19:24] bstro opened #170 "Unminified example code"
It'd be awesome if the examples linked to from the `readme.md` were unminified so one could easily see how such examples were accomplished.

[2015-09-25 19:30] chenglou commented on #170
True. Though you should be checking the actual source in demos/

I'm a bit busy right now but this is a non-brainer. PR welcome!

[2015-09-25 19:32] chenglou commented on #170
Eh, note that dev-specific paths should be stripped for perf. Right now it's bundled within uglify. I don't know if you can take this step out of it or if there's a Babel plugin for just this

[2015-09-26 00:42] nkbt commented on #169
I believe this is something that should live in a separate repository/fork

[2015-09-26 00:43] nkbt commented on #169
Oh, you said M-word here! :trollface:

[2015-09-26 05:19] ivzhao opened #171 "When is the new spring() API stable?"
I am working on a project that heavily relies on react-motion, and wondering when the new <Motion> and spring() API would be release? A rough EST?

[2015-09-26 20:10] chenglou opened #172 "Integrate flow"

[2015-09-27 05:59] rayshan commented on #168
Hi, I assume this will also apply if we want to implement a looping animation, such as a loading spinner?

[2015-09-27 06:19] chenglou commented on #168
Yeah. Though the rotational loading spinner isn't a spring.

[2015-09-27 06:22] nlhkh commented on #168
Just for fun, if you project the motion of an object on a circular path at constant speed on a diameter, that motion is of a spring.

[2015-09-27 06:25] chenglou commented on #168
Isn't that just a regular sine/cosine wave? It approximates a spring of a certain configuration (and vice-versa) but isn't really one?

[2015-09-27 06:33] nlhkh commented on #168
I don't remember, but I will look it up when I have a chance. I think it represents the spring in perfect condition (swing forever). Of course in real life there will be damping effect, which you can also simulate by having the magnitude of the oscillation varies over time.

[2015-09-27 19:55] ludovicofischer commented on #172
Do you mean to just add Flow type annotations to the react-motion codebase or something more sophisticated?

[2015-09-27 21:50] chenglou commented on #172
Adding flow annotations, yes. Especially the trickier parts like passing Motion's `style` object around.

[2015-09-28 19:04] ludovicofischer commented on #172
I want to give Flow another chance, so I could see how it fares on this codebase. Is the codebase more or less stable?

[2015-09-28 19:20] chenglou commented on #172
Yes, but I will be in the process of moving some code around and rewriting some logic, which is exactly why I wanted this

[2015-09-28 19:20] chenglou commented on #172
Why wasn't flow good enough for you?

[2015-09-28 19:47] ludovicofischer commented on #172
The first problem was that the flow server would crash because a project dependency included a malformed package.json. The error messages were cryptic and the last straw was that it did not support `let` and `const` at the time.

[2015-09-28 19:48] chenglou commented on #172
Well, RM doesn't have many dependencies and now that `let` and `const` are supported, we should be fine?

[2015-09-29 07:26] ludovicofischer commented on #172
Right off the bat, we’ve hit this Flow bug https://github.com/facebook/flow/issues/830 with destructuring assignments with `const`, in `components.js` for example:
[code]
 as well as https://github.com/facebook/flow/issues/828 in the animationLoop.js imports. We can either
1. change coding style
2. wait for the next Flow release.

[2015-09-29 07:53] ludovicofischer commented on #172
Also flow does not accept this syntax in `animationLoop.js`, line 6:

[code]
I guess you’re overriding the defaults you set within the curly braces with the contents of `config`, but I can’t find a reference for this syntax either: where did you learn it?

[2015-09-29 08:59] ludovicofischer commented on #172
Flow does not support computed propery keys either: https://github.com/facebook/flow/issues/252, which we use in `components.js`, line 373:
[code]

[2015-09-29 10:11] ludovicofischer commented on #172
My work so far: https://github.com/ludovicofischer/react-motion/tree/flow

[2015-09-29 14:29] chenglou commented on #172
It's just destructuring + default assignment

I guess we could rewrite the const bit.

For computed properties, at least `newClonedStyle[key] = enterStyle` works, right?

[2015-09-29 16:33] samwgoldman commented on #172
Hey, found this issue through the link to facebook/flow#252. Wanted to add a few thoughts:

1. `const` destructuring support has landed in master
2. destructuring with defaults is definitely sorely missing, but I hope to get to it in the coming weeks
3. computed properties are tricker to grok statically, but would it satisfy your use case if the dynamic key was a single const binding? i.e., `key`

[2015-09-29 17:16] ludovicofischer commented on #172
Wow, a flow committer! (thanks for your work on `const` and `let` BTW).
Interestingly, I managed to replace a few of the problematic constructs and removed a lot of flow warnings, but now the tests do not pass any more because of an `undefined` property. There are some warnings about `null` and `undefined`, so let’s hope it is an error that flow *does* catch.

[2015-09-29 22:03] nkbt commented on #172
Webstorm just landed EAP with basic Flow support. Looks like great timing http://blog.jetbrains.com/webstorm/2015/09/webstorm-11-eap-142-5255/

[2015-09-29 22:16] chenglou commented on #172
I was half expecting some nullable stuff to get caught by Flow. Hopefully Flow's right!

@samwgoldman the `key` isn't a constant. It's passed as a parameter.

[2015-09-29 22:37] samwgoldman commented on #172
If we're talking about an object-as-map types, e.g., `{ [key: any]: any }`, computed property keys should be straightforward, since Flow will not attempt to track the set of keys. Computed properties get complicated when we try to build an object type with a known set of keys, e.g., `{ foo: string, bar: number }`.

If you have an object-as-map scenario, using multiple statements to build up the ob

[2015-09-29 22:59] chenglou commented on #172
So `newClonedStyle[key] = enterStyle` right? That's fine then!

[2015-09-30 10:51] PBRT opened #175 "Update build folder."
Hi,

I'm using react motion as an embedded lib for making some POC/test (on codepen essentially).I'm importing the build/react-motion.js file which isn't containing the latest update of the API (Motions, spring...).

Is it possible to update the build on the Github repo? Ensuring an easy use of react motion with only one import?

Thanks a lot

[2015-09-30 13:13] chenglou commented on #175
I literally pushed the new README this morning lol, you're caught between the readme update and the build/release. I'll do it soon.

[2015-09-30 13:49] iest commented on #175
:raised_hands:

[2015-09-30 13:55] LoicUV commented on #175
I'm caught as well :curly_loop: waiting for the API update to be available from npm :)

[2015-09-30 14:41] chenglou commented on #170
cc @nkbt @gaearon who probably knows something about this?

[2015-09-30 14:47] nkbt commented on #170
It should be really simple to skip uglify (not sure why it was used in the first place)

[2015-09-30 14:51] nkbt commented on #170
Give me 5 min =)

[2015-09-30 15:44] skosch commented on #159
Hey, I'd love to make something similar to Demo 8 (the drag&drop list). What's the old equivalent of `scale: spring(1.1, springConfig)`?

[2015-09-30 15:45] #170 closed

[2015-09-30 15:51] chenglou commented on #159
New version is releasing in a couple of minutes actually.
https://github.com/chenglou/react-motion/wiki/v0.3.0-examples

[2015-09-30 15:52] skosch commented on #159
Sweeeet! :)

[2015-09-30 17:25] chenglou commented on #175
Done!

[2015-09-30 17:25] #175 closed

[2015-09-30 17:25] chenglou commented on #171
Done!

[2015-09-30 17:25] #171 closed

[2015-09-30 17:26] chenglou commented on #165
New API out! Should side-step your problem completely. If you have any more question on this, feel free to ask here or on Slack!

[2015-09-30 17:26] #165 closed

[2015-09-30 17:27] chenglou commented on #80
Bah it's fine now. New API only animates a shallow object.

[2015-09-30 17:27] #80 closed

[2015-09-30 17:28] chenglou commented on #37
Not much need for now.

[2015-10-01 01:53] HarrisRobin opened #178 "all react-motion's exposed functions return undefined."
Hi,

So I am on the latest release,
    "react-motion": "^0.3.0",

However, no matter what I try I get undefined:
[code]

Not sure what's causing this.. any help appreciated!

Thanks

[2015-10-01 02:02] chenglou commented on #159
(Released and forgot to ping, sry)

[2015-10-01 02:15] skosch commented on #159
No worries, I pulled it right away. It's working beautifully, and the example was very helpful. Thanks a ton!

[2015-10-01 02:20] HarrisRobin commented on #178
It works now. I believed that react-motion in my node_modules was still on 0.2.7.

[2015-10-01 02:20] #178 closed

[2015-10-01 08:51] PBRT commented on #175
:+1:

[2015-10-01 08:54] LoicUV commented on #175
thanks :ok_hand:

[2015-10-01 19:17] BrennanRoberts opened #179 ""Jumping" to a value then springing back to original value quickly does not animate"
Let's say you have a render function like this:
[code]
The intent is to have the component show instantaneously, but fade out.

If this component is passed `visible: false, true, false` quickly, then no animation will ever occur.

JSFiddle here:
http://jsfiddle.net/17hdch0w/

[2015-10-01 20:15] PetrGlad commented on #161
I have possibly related problem: some components inside Spring do not re-render after .setState.
So component state is updated from an event handler but it does not trigger rendering.

Also ReactJS (0.13.3) complains about Spring:
[code]

[2015-10-01 22:13] chenglou commented on #179
Yeah that's the desired behaviour. The spring's initial value is the current value. When you quickly switch like that it attempts to go to 1 (e.g. 0.001), then quickly goes back to 0.

We don't allow overriding current value _yet_. If this is for the first render, use `defaultStyle`.

[2015-10-01 22:35] BrennanRoberts commented on #179
Thanks for the quick response, @chenglou. Forgive me if I'm wrong, but based on your response, I think there's a chance you've misunderstood. In the example, we're attempting to skip straight to `1`; thus the omission of `spring()`.

If this truly is the desired behavior, would you agree that the docs are misleading when they say:
"If a plain number is provided rather than a spring config, instead

[2015-10-01 23:14] chenglou commented on #179
Ah, that's a bug then. @bsansouci

[2015-10-02 13:25] lencioni opened #180 "Uncaught TypeError: Cannot read property 'config' of undefined"
I am upgrading from 0.2.7 to 0.3.0 and I ran into an error:

This happens when I am using a `TransitionMotion` with a style object that has a key who's value is `undefined`, e.g.:

[code]

This is happening on https://github.com/chenglou/react-motion/blob/d478fe6ba1a5ba74ab364747f063e16fa8c3185f/src/updateTree.js#L38

I can side-step the issue by setting that value to something other than `undefin

[2015-10-02 13:55] chenglou commented on #180
Damn it, we need a type system...
@ludovicofischer if you want, feel free to submit small flow PRs gradually!

[2015-10-02 13:58] lencioni commented on #180
Flow would be sweet. In the meantime, I'll submit a PR that addresses this issue.

[2015-10-02 13:58] chenglou commented on #180
Oh it's fine, I'm working on it right now!

[2015-10-02 13:58] lencioni commented on #180
I just need to write commit message. ;)

[2015-10-02 14:03] lencioni opened #182 "Add Travis CI integration?"
For people submitting pull requests, it would be nice to have feedback on whether the tests still pass or not. Additionally, adding a build passing badge to the readme would be nice for consumers of react-motion.

[2015-10-02 14:12] #180 closed

[2015-10-02 14:38] chenglou commented on #182
Up for grab!

[2015-10-02 14:57] lencioni commented on #182
Working on it.

[2015-10-02 15:18] #182 closed

[2015-10-02 21:31] twobit opened #185 "StaggeredMotion: Dynamic styles not supported"
It doesn't look like it's possible to change the amount of styles fed to a `StaggeredMotion` component.

I [modified the demo](https://github.com/twobit/react-motion/commit/231307594790c2d4ac1e90d6aa60f8ce655edb25) to grow the array of items when `enter` is clicked but `StaggeredMotion` is ignoring any additional items.

[2015-10-02 21:33] chenglou commented on #185
That's expected. Only TransitionMotion supports diffing.

[2015-10-02 21:34] twobit commented on #185
Ok great to know, thanks :)

[2015-10-02 21:34] #185 closed

[2015-10-02 21:35] chenglou commented on #185
Np. Closing this. But does it cause any inconvenience?

[2015-10-02 21:38] twobit commented on #185
No, I can easily convert to `TransitionMotion`

[2015-10-03 21:35] chenglou commented on #164
Hey, the API got a revamp. Can you check if the new docs are clearer now? I'll revamp the demo itself when I have the time.

[2015-10-04 14:09] fbm-static opened #186 "Help a noob out"
Hi,

[code]

What does translate to  in JSX pre-es6?

[2015-10-04 18:46] chenglou commented on #186
[Here's](http://babeljs.io/repl/#?experimental=false&evaluate=true&loose=false&spec=false&code=import%20%7BMotion%2C%20spring%7D%20from%20'react-motion'%3B%0A%2F%2F%20In%20your%20render...%0A%3CMotion%20defaultStyle%3D%7B%7Bx%3A%200%7D%7D%20style%3D%7B%7Bx%3A%20spring(10)%7D%7D%3E%0A%20%20%7Bvalue%20%3D%3E%20%3Cdiv%3E%7Bvalue.x%7D%3C%2Fdiv%3E%7D%0A%3C%2FMotion%3E) the literal transpiled version.

[2015-10-04 18:46] #186 closed

[2015-10-04 18:52] adrienhobbs opened #189 "Best way to animate an array of values with new api?"
With 0.2.7, I could animate an array of values like this: spring([100,300,500,600]);  The use case is for animating a set of points for an svg polygon path.

What's the best way to go about doing this with the new API?  Thanks!

[2015-10-04 18:57] chenglou commented on #189
Right, currently it's a temporary regression. You'll have to animate each value individually. The rationale is that supporting animation nested collections had a huge cost (confusions with `val` and all).

The good part is, animating an array like is mostly for what you're trying to achieve: SVG path. I was thinking of either:

1. Exposing a (mandatory) helper similar to `spring`, e.g. `springSVG(

[2015-10-04 19:10] adrienhobbs commented on #189
Got it.  Number 1 sounds like a good solution, especially if that seems to be the most common use-case.  For transforms and such, ES6's string interpolation has made animating transforms rather quick and easy, but I definitely see the advantages of having a more versatile way of animating specific properties.

[2015-10-05 12:10] kristian-puccio commented on #62
out of interest https://fabric.io/blog/introducing-the-velocityreact-library does a render a the 'completed' state to get the height before it starts it's animation.

[2015-10-05 12:38] chenglou commented on #62
Don't they have a flicker problem?

[2015-10-05 13:29] kendagriff commented on #164
Yes, `TransitionMotion` is much clearer now!

[2015-10-05 13:29] #164 closed

[2015-10-05 14:06] ludovicofischer commented on #172
@samwgoldman Are you planning a Flow release soon with the const destructuring fixes?

[2015-10-05 16:21] sikhote commented on #62
Using Springs, I don't see a flicker when I animate the height of a container when checking if the height has changed (by setting the height to auto and reverting back) on componentDidMount and componentDidUpdate.

[2015-10-05 18:46] jclyons opened #190 "Rename Demo Folders to What They Do"
Can you rename the demo directories to what each one is? It'd be great if you could label them by what they do so it's easier to tell the difference. I reference them a lot when I'm working and I usually have to cross-reference with the README.md. Small nitpick - thanks for the great library.

[2015-10-05 18:48] jclyons commented on #169
Ok - since I seem to be using react-motion more and more I will perhaps be able to get to this someday soon.

[2015-10-05 20:12] boyswan commented on #130
Would we able to see an example using the new api? Struggling to get my head around the changes!

[2015-10-05 21:00] nkbt commented on #169
@jclyons :+1:

[2015-10-05 22:33] kristian-puccio commented on #62
@chenglou no can't see any flicker.

[2015-10-06 08:55] zanjs opened #191 "npm start (Windows 7 0.0.0): Executed 55 of 59"
PhantomJS 1.9.8 (Windows 7 0.0.0): Executed 55 of 59 (4 FAILED) (skipped 2) (0 sPhantomJS 1.9.8 (Windows 7 0.0.0): Executed 56 of 59 (4 FAILED) (skipped 2) (0 sPhantomJS 1.9.8 (Windows 7 0.0.0): Executed 57 of 59 (4 FAILED) (skipped 2) (0 sPhantomJS 1.9.8 (Windows 7 0.0.0): Executed 57 of 59 (4 FAILED) (skipped 2) (0.118 secs / 0.333 secs)

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "D:\\nodejs\\n

[2015-10-06 09:36] ducky427 opened #192 "ES2015 Map instead of using Objects?"
As a new user to the library and the "modern" javascript ecosystem, now that we have a proper [`Map`](https://babeljs.io/docs/learn-es2015/#map-set-weak-map-weak-set) in ES2015 and babel, does it make sense to use that instead of using Objects throughout the API?

For instance, in `Motion` component, `defaultStyle`/`style` could return a Map and `children` would return `Map -> ?ReactElement`

Usin

[2015-10-06 09:47] nkbt commented on #191
I don't think we ever tested build/tests on Win. Though I can have a look at is since I do dev on both osx and win.

[2015-10-06 12:09] nkbt commented on #191
See #193, that definitely fixes tests. Issue was with `NODE_ENV` not being equal to `"development"`.

I fixed all scripts (pretty minor fixes, tbh) and now it is possible to do development/testing on Windows too.

[2015-10-06 19:26] Aaike opened #196 "unmount threshold"
Is there a way to define the threshold for when a component should unmount when using the TransitionMotion component ?

I assume the component unmounts when all animated properties have reached their target value.

It would be great is we can specify that the component should unmount when the target value is close to being finished.

For example: When animating from opacity 1 to 0 with a threshold

[2015-10-06 20:40] #191 closed

[2015-10-06 20:41] chenglou commented on #190
Been on my mind for a while too. Done!

[2015-10-06 20:41] #190 closed

[2015-10-06 20:59] nkbt opened #197 "Update webpack config to support new Demo folders"
After  #195 webpack build is not working correctly since it puts `all.js` into `demoX` folder.
Also all links in the README are going to be broken.

Ping @stevoland, @chenglou

[2015-10-06 23:34] chenglou commented on #197
Ahhh I remember now!...
What's the solution? Webpack's string templates are pretty limited

[2015-10-07 00:35] nkbt commented on #197
Manually type in new folders in config and use proper placeholders in output. I could give it a shot today, unless @stevoland wants to fix it by himself.

[2015-10-07 00:38] nkbt commented on #24
I'm going to pick this up

[2015-10-07 00:40] nkbt commented on #197
I am going to fix it alongside with #24

[2015-10-07 07:23] stevoland commented on #197
Whoops, sorry. Let me know if you want me to fix.

Readme links point to a previous commit so don't need changing yet.

[2015-10-07 10:12] nkbt commented on #197
yeah, README is ok for now.

[2015-10-07 11:58] #197 closed

[2015-10-07 12:09] #24 closed

[2015-10-07 12:19] nkbt commented on #155
Fixed by #194

[2015-10-07 12:19] #155 closed

[2015-10-07 18:09] ALF-er opened #202 "Question: Any possibility to create motion fadeout-changeContent-fadein?"
Hello, I try to implement simple motion. I have `<div>Some text</div>` I want to fade it to `opacity: 0`, change it's content to `Some another text` and then bring it back to `opacity: 1`. And... I'm failed =| It seems to be an to complex task for current Motions. Maybe I missed something?

[2015-10-07 18:13] chenglou commented on #202
It's not very straightforward to assign a callback when the animation completes. This will be implemented next. After that you should be fine, right?

Currently, you can check the interpolated style object to see whether it's reached a value

[2015-10-07 18:17] ALF-er commented on #202
Yeah, some hook will solve my problem. But I think is it declarative. Up on you =)

About

Yes I can, but how I can run reverse opacity-motion when It already complete?

[2015-10-07 18:23] chenglou commented on #202
Set a state, and use that state to set a new destination style value

[2015-10-07 18:25] ALF-er commented on #202
Set state from `render() {}` O.o I don't get arrested for that?

[2015-10-07 18:27] chenglou commented on #202
They'll detain you for a few days but I promise I'll pay the fees to get you out

[2015-10-07 18:29] ALF-er commented on #202
You the best!

Thank you for advice =)

[2015-10-07 19:03] ALF-er commented on #202
You know... I tried to do this.setState from render() and get
[code]
Maybe you mean something different?

[2015-10-07 22:05] chenglou opened #203 "Compile demos using the new babel optimizations for react 0.14"
https://facebook.github.io/react/blog/2015/09/10/react-v0.14-rc1.html#compiler-optimizations

[2015-10-07 22:14] chenglou commented on #192
For a few reasons!
1. Object super optimized and comes with the whole ecosystem of function that manipulate/transform it (e,g. lodash, and some css-in-js libraries). Splat and destructuring work on it and those are some pretty important sugar, along with a visually clean literal to begin with.
2. I'd argue it's actually a Record, which maps to an object in JS, not a Map. Theoretically, your keys a

[2015-10-07 22:14] #192 closed

[2015-10-08 08:19] ducky427 commented on #192
Thanks a lot! All valid points.

[2015-10-08 11:43] nkbt commented on #203
#205 is also needed for this

[2015-10-08 21:21] chenglou opened #208 "Convert all the chenglou.me links to github"
That domain might not exist forever

[2015-10-08 22:57] nkbt commented on #208
As everything else in the world :thought_balloon:

*sure*

[2015-10-09 12:33] #208 closed

[2015-10-09 13:43] ludovicofischer opened #211 "Fix ESLint errors"
Updating to ESLint 1.6.0 and `eslint-airbnb-config` 0.1.0 and executing `npm run lint` gives 169 errors. Some of it are variable names that are too short,  but some others should probably be fixed.

[2015-10-09 19:44] chenglou commented on #130
@boyswan not too familiar with the router. I'll defer to @maisano for this one

[2015-10-09 20:10] chenglou commented on #202
Oops sorry, dumb mistake... Yeah that's not possible.
Right now you could use StaggerMotion with an array of a single style. You have access to the previous style array in the `styles` callback.

[2015-10-09 20:19] maisano commented on #130
@boyswan by new api i'm assuming you meant the new `react-motion` api. i just updated the gist to reflect those changes, though i haven't tested it. conceptually it's largely the same, though a prop's name changed and you no longer need to access the `.val` key from the interpolated values.

[2015-10-10 11:12] boyswan commented on #130
Perfect, thanks for this!

[2015-10-10 13:31] nkbt commented on #211
I think `too short` vars are ok and we just need to override that rule to `0`

[2015-10-10 14:53] lencioni opened #212 "TypeError: this.stopAnimation is not a function"
I'm seeing the following error logged occasionally:

[code]

After looking through the code, I don't see how this would happen. Is it possible for a component to call `componentWillUnmount` before it calls `componentDidMount`? I'd prefer to understand why this is happening, but we could guard against it by doing something like:

[code]

Or by making sure that `stopAnimation` is always defined as a

[2015-10-10 18:18] chenglou commented on #212
No that shouldn't happen, you're right.
And I don't think we should guard it like that. Better get to the root of the problem, humm...

[2015-10-10 19:59] chenglou commented on #212
Can you provide a small repro?

[2015-10-11 00:26] nkbt commented on #212
I immediately have 2 suggestions, but we do need some more info on how to reproduce it.

1. If there is anything async then component could be unmounted before we get to run stopAnimation.
2. We lost context somewhere along the way and `this` is not the one we expect here.

Maybe something else, but I can't see for now.

[2015-10-11 14:37] zth opened #213 "Best practice for using RM to control stuff *not rendering directly by React*?"
Hi!

I recently encountered a situation where I wanted to use React Motion to animate the scroll inside an element. The element is basically a large map with an element wrapped around it that exposes only a small part of the map, and lets you scroll/pan around to explore it. So, what I wanted to do was using React Motion to animate panning/scrolling back and forth between various set points. Here'

[2015-10-11 19:04] chenglou commented on #213
You should probably wrap the panElement logic into a declarative wrapper:
[code]
In `componentDidUpdate` of ElementPan, there you set the imperative `scrollLeft` to `this.props.scrollLeft`. From the outside it still looks declarative.

After that, you can move ElementPan into Motion.

Does that work?

[2015-10-11 21:17] nkbt commented on #213
You may also try adding debounce to onScroll (like 50ms), keep values in state, and then use Motion to move things smoothly.

[2015-10-12 03:09] nkbt opened #214 "StaggeredMotion is exported as Motion [0.3.0]"
in `lib/react-motion.js`:

[code]

[2015-10-12 03:13] nkbt commented on #214
Temporary fix that worked for me:

[code]

[2015-10-12 03:26] #214 closed

[2015-10-12 03:26] nkbt commented on #214
Sorry, that was local modification.

[2015-10-12 14:21] lencioni commented on #212
A small repro would be nice. I can look into that soon, but I believe I might have some difficulty consistently reproducing it. We are seeing this error logged in Sentry, which we use for error tracking, and it doesn't seem to be happening consistently.

I can see that it is happening on line 418 of components.js, which puts it in the `TransitionMotion` component. It could be happening for other c

[2015-10-12 16:47] arush commented on #62
can react-measure be used for this?

[2015-10-13 00:18] ludovicofischer commented on #172
Now that Flow 0.17 has been released, we’re still hitting https://github.com/facebook/flow/issues/183 in `animationLoop.js`, also a Flow problem I did not find a previous report for https://github.com/facebook/flow/issues/940, in `react-motions.js`.

[2015-10-14 02:35] mattapperson commented on #130
@maisano I seem to be having the same issue as@gonsfx where the initial route does not load...

[2015-10-14 05:37] chenglou opened #218 "Make readme demo links point to commit hash urls and not latest"
This way, when someone `checkout` an older commit the correct, dated demo links will be shown.

[2015-10-14 07:07] nkbt commented on #218
Ouch, accidentally clicked.

[2015-10-14 07:09] nkbt commented on #218
Makes sense, but why would you check out older commit in the first place? Are we going LTS or something, supporting multiple API versions, etc?

[2015-10-14 13:20] chenglou commented on #218
Makes debugger and referring much easier, that's all. Just like how I usually post the commit hash URL to a file rather than master in issues

[2015-10-14 14:12] maisano commented on #130
@mattapperson the initial route doesn't load or doesn't transition? if it's the latter, i think you can get that by adding `defaultStyles`.

[2015-10-14 14:25] mattapperson commented on #130
@maisano it was an issue with my styles. the absolute included in this component broke stuff

[2015-10-14 14:53] maisano commented on #130
@mattapperson :+1: yea, that component is more of a demo than anything else.

[2015-10-14 18:46] jclyons commented on #169
Here is a repository for the webjar: http://github.com/jaroop/react-motion-webjar

The repository has yet to be incorporated into the webjars repository, though I have created an issue on the main webjar repository for it: https://github.com/webjars/webjars/issues/1230

[2015-10-14 18:52] jclyons commented on #169
I'm also writing a bridge between ScalaJS <=> React-Motion so that this component can be used in ScalaJS projects.

[2015-10-14 21:09] nkbt commented on #169
Thank you!

This is pretty awesome!

[2015-10-15 13:29] midgethoen opened #219 "Accessing velocity in children-function"
Hi Cheng
Firstly, Awesome library! I've been having a lot of fun with it the past few days :smile:

So, I had the idea that the current velocity of a animated property is a nice value to animate specific properties with. However I haven't been able to acces the velocity using the current api. (Maybe, I have just overlooked something.)

So I forked react-motion and crudely exposed the velocities in

[2015-10-15 14:48] nkbt commented on #62
Just published https://www.npmjs.com/package/react-collapse
Issue can be closed I guess

I did not have time to fill README, will do it tomorrow. See example for reference. It is as simple as:

[code]

Supports multiple children. Support dynamic height. Unmounts collapsed children.

[2015-10-15 14:54] chenglou commented on #62
Still kinda want to offer this out of the box if possible, though

[2015-10-15 14:56] nkbt commented on #62
I think it is better not to include it into a react-motion itself. It is a not-so-pure component.
Better move it under `react-motion` org (when we have one) and reference from readme

[2015-10-16 15:14] arush commented on #62
thanks @nkbt this is exactly what i was looking for ;)

[2015-10-16 19:37] nkbt commented on #62
@arush :+1:

[2015-10-17 01:23] chenglou commented on #219
Hey!
This is #60. Haven't gotten around doing it yet. I want it too, so that this + gestures gives you the flick animation =)
What's your use-case of velocity in the link? Not sure I see it.
Tentative API is ```<Motion velocity={currentVelocity => driveVelocity ? changeVelocity(currentVelocity) : currentVelocity} style={...} />```

[2015-10-17 13:25] webyak opened #220 "Staggered unmounting animation in TransitionMotion Demo"
I can't get it fully working to animate both mount & unmount components staggered within TransitionMotion.

It would be awesome to have a demo because you also mentioned it in the docs under "TransitionMotion#styles" =)

[2015-10-17 17:00] chenglou commented on #220
Can you be more precise please? E.g. a code snippet would help =)

[2015-10-17 20:57] chenglou commented on #211
Fixed by #215

[2015-10-17 20:57] #211 closed

[2015-10-18 07:38] webyak commented on #220
This is the working part I got so far. But only for the staggered mounting animation. https://d.pr/v/10Gkd
[code]
I'm now looking to animate unmounts too. Just instead of sliding in they should slide out down.

Now when I'm going to differentiate between the leading mounting and unmounting component to do 2 independent staggered animations all within getStyles, I think this might get ugly.
Also it

[2015-10-18 11:40] webyak commented on #220
Update: Got it working, will post an the code soon!

[2015-10-18 11:41] arush commented on #220
@webyak would love to see it ;)

[2015-10-18 11:45] webyak commented on #220
@arush Nope, TransitionMotion 😁

[2015-10-18 15:03] gre commented on #100
I don't know if this has been addressed yet but I'm quite in favor of the solution initially proposed.

IMO **user should have the control of precision grain** (e.g: integer, 2 digits, ...) because you don't know how an interpolated value is used at the end (it can be a style but it can also be displayed as a text right, or both. Or both, like in this pie chart I'm currently animating: <img height

[2015-10-18 15:32] webyak commented on #220
This is my solution. I think it could be improved. Do you guys have any idea on how to make this more simple?
[code]
Note: You probably want to animate `opacity` staggered too.

[2015-10-18 15:55] koko236 opened #221 "Adding a child to another component during an animation throws error"
I have the following (simplified) structure:
[code]
Messages and OtherUI have two distinct stores they're listening to, so they (should) render independently of each other. OtherUI has some draggable elements using ReactMotion for smooth animation and an 'Add Message' button which adds a message to Messages using Flux pattern. It all works fine except for a case when you click the 'Add Message' bu

[2015-10-18 16:21] chenglou commented on #221
Eh, that's weird and I'm not totally sure what you mean by it. That you're adding components inside messages? Yeah that shouldn't interfere.

(Also, update to 0.3.1 when you can! Just in case =P)

[2015-10-18 18:10] koko236 commented on #221
Yeah, I'm adding `Message` components inside `Messages` comp which has common parent with the `OtherUI` component. React Motion animations run under `OtherUI` node. `OtherUI` and `Messages` listen to two separate stores. The only connections are:

1. single button a few levels under  `OtherUI` which calls `MessageActions.addMessage()`, which in turn informs `MessagesStore` via `EventDispatcher` an

[2015-10-19 00:33] nkbt commented on #221
@koko236 I have very little understanding of your structure, but it seems that the best solution would be to not apply react-motion directly to OtherUI, but make a very basic UI wrapper and apply react-motion to it. So you component that handles some actual data is not touched by RM and is totally "cached" by react. It also will have a huge impact on perf (in a good way).

[2015-10-19 00:35] nkbt commented on #221
The generic rule-of-thumb for me is - if it is not animated, do not animate it. So re-render only that little animated piece and abstract all the bigger logic not related to animated part into a separate component.

[2015-10-19 00:45] nkbt commented on #100
I :+1: on this too. As you can see on http://nkbt.github.io/react-collapse/example/ (try to collapse) the element is not gone for a while, though visually it is definitely gone. I'd go for `0.0` or even `0.` precision in case of collapsing. It is not that easy to control this from outside. I mean it is fairly easy, but code gets some extra unnecessary baggage.

I'd love to have sort of `height: sp

[2015-10-19 00:56] koko236 commented on #221
Well, I might be abusing the React a little bit, but I'm using it for a windows like interface (can't show it at the moment though). So all the elements under `OtherUI` have `position: absolute` which is stored in UIStore and changed according to user interactions, i.e. drag and drop. Each draggable component is wrapped in a `Spring` to achieve smooth motion. The `Messages` are virtually independe

[2015-10-19 01:02] nkbt commented on #221
@koko236 look at https://github.com/gaearon/react-dnd

Ping me in Slack (reactiflux), I can help you with your issue better there.

[2015-10-19 01:18] koko236 commented on #221
I looked at DND (and will again for sure) but my knowlege of react was way lower at that moment and I decided to build something myself from scratch as a way of learning. Right now I don't think my problems are very much d'n'd related - anyway it's a good pointer, thanks.

As to reactiflux - it's closed for new members now (http://www.reactiflux.com/)

[2015-10-19 01:34] chenglou commented on #221
Reactiflux is moving to Discord. Does this invitation link work? https://discordapp.com/invite/0ZcbPKXt5bYzmcI0

[2015-10-19 01:41] koko236 commented on #221
Yes! Thanks.

[2015-10-19 02:30] koko236 commented on #221
It might be too early to open the champagne but putting `MessagesStore` emitChange into setTimeout() with 0 delay 'solved' the problem - I was unable to break it anymore. I can imagine there is some race condition inside React.

[2015-10-19 02:47] nkbt commented on #221
@koko236 you quiclky patched the problem but did not solve the root cause. As I can see the cause is that your animation logic affects components that work with data/events (possibly re-renders them thousands of times). I strongly suggest you to remove setTimeout and figure out how to fix it without this hack =)

[2015-10-19 03:00] koko236 commented on #221
I know it's just a patch and I hope it'll work cause I'm a bit time constrained right now. :) I'm wondering what the root cause might be and is it really something on my side. Truth is I should probably use raf to fire update events and not mousemoved event directly but the bug happens after the dragging has ended and it's only React Motion that modifies anything when `addMessage' is called (and t

[2015-10-19 03:06] nkbt commented on #221
@koko236 I'm just trying to help you to get an idea where the actual problem is. This issue has definitely nothing to do with react-motion itself, it is more about the way your code was structured, RM probably revealed that issue by constantly re-rendering things. If you are happy with a temp hack and it is a considered choice - that is totally all right.

If you wish to drill further - ping me on

[2015-10-19 03:19] koko236 commented on #221
It sure as hell is. Thanks a lot, I'm switching to Discord.

[2015-10-19 12:25] arush commented on #62
Ok so i spent some time using both velocity-react and react-motion + react-collapse, and I have to say, I agree with @chenglou that not supporting animation to/from height:auto out-the-box causes a lot of confusion and additional hacking to get it to work. Honestly im finding myself wanting to use velocity-react for these situations just because the API is simpler.

Height animation is one of the

[2015-10-19 21:40] rclai commented on #130
Would the implementation change dramatically if @chenglou's example was modified to make the transition be a horizontal sliding animation instead of a fading one?

[2015-10-20 08:03] nkbt commented on #62
@arush can you raise an issue in react-collapse for what you find frustrating or what is not working for you? That would be really awesome.

[2015-10-22 06:11] midgethoen commented on #219
I'm not sure #60 is the same use case as I am describing. I'm only interested in getting the current velocity, not influencing it. But ill look more closely at #60 later this week. :)

I use the velocity to drive the translateZ (and also box-shadow offset). So the faster a card moves up, the more forward it comes. And also the faster it moves down the further back it goes.  Because cards moving a

[2015-10-22 12:26] arush commented on #62
@chenglou in my experience, velocity-react does have a flicker problem, and doesn't deal with this situation easily either... here's the issue with some gifs: https://github.com/twitter-fabric/velocity-react/issues/36

in the end, velocity-react doesn't cater for auto height children elegantly without opacity and display hacks.

@nkbt Gonna look into react-collapse again.

[2015-10-22 16:24] webyak commented on #139
+1 for hooks.

[2015-10-23 00:11] iandoe commented on #220
I am having the same use case, ii want to animate the `left` and `opacity` style properties on every item in a list on mount. Kind of struggling wrapping my head around it. Same as @webyak i thought using `<StaggeredMotion>` and willEnter would work but willEnter does not fire on initialMount, only when something is leaving the list. Your solution looks smart @webyak but is there anyway to impleme

[2015-10-23 00:46] nkbt commented on #220
@iandoe @webyak you can check sources of [react-collapse](https://www.npmjs.com/package/react-collapse), that might help.

[2015-10-24 11:47] nkbt opened #223 "End-to-end testing"
I've just implemented one for [react-component-template](https://github.com/nkbt/react-component-template) (with @ButenkoT help)

Look at https://github.com/nkbt/react-component-template/pull/9 for some nice automation (basically installing and running everything with `npm run test:e2e` + prepush hook)

@chenglou do you want to have this sort of testing here?

PS: for each component I publish, I h

[2015-10-24 12:10] VasilyShelkov opened #224 "Question: Series of Animations on one element?"
Hi,

I was wondering what currently would be the best way of achieving a sequence of animations on a single element ? So essentially, a way of looping through an array of destination values (spring configs) ?

Obviously it would be lovely if you could pass in an array of spring configs to the Motion component which would detect once one spring has finished and the next should start until it gets t

[2015-10-24 12:13] nkbt commented on #224
That is pretty cool thing to have. I think this should be made by a fairly simple wrapper-component.

[2015-10-24 12:16] VasilyShelkov commented on #224
@nkbt hmmm good point, will have a go at making a simple wrapper component (still quite new to react) to achieve this and post my results :+1:

[2015-10-24 12:17] nkbt commented on #224
:ok_hand:

[2015-10-24 15:18] VasilyShelkov commented on #224
It seems simple enough:
[code]
The missing part is how to detect when one animation ends and the other should begin ?

UseCase for #139 ?

Any ideas how it could be possible for the time being ?

There is a [mutation obeserver](https://developer.mozilla.org/en/docs/Web/API/MutationObserver) but it's only compatible with newer browsers and still isn't easy to tell if something has finished changing

[2015-10-24 19:26] chenglou commented on #223
What would be an example of a concrete test for RM?
As an aside: I'm scared of selenium after using it for some other task, lol

[2015-10-24 21:10] nkbt commented on #223
Lol. Forget about selenium, it is a middle layer. You are dealing with
nightwatch, which is pretty neat. Unless you mean something different.
Yeah, selenium itself could be flaky and hard to debug :(.

Regarding tests, firstly some smoketests, check that page loaded and there
are no js errors, so it renders at least something. Then some tests on
actual ui. Animations are hard indeed, but it is sti

[2015-10-24 21:13] chenglou commented on #223
I see. Yeah the idea of e2e would be nice but there's indeed some overhead.

We have the basterdized `test/integration` which verifies that everything's published correctly right now. For animation, I'd rather advance the mock rAF the way it's done in animationLoop-test and components-test right now. Got burnt trying to do screenshot testing too much ([ahem](https://github.com/chenglou/node-huxley

[2015-10-25 07:20] appsforartists commented on #100
I wrote a decorator that you can wrap around a `<Motion>`'s children to skip decimal values (presuming you are tweening from one pixel value to another:

[code]

I'll probably add it to [Gravel](https://github.com/appsforartists/gravel/tree/master/src) tomorrow.

[2015-10-25 07:25] appsforartists opened #225 "Motion isn't interpolating between 0 and 48"
[Here's a reduction](http://codepen.io/appsforartists/pen/avYZrZ?editors=001).

It looks like I got my spring numbers backwards.  With any damping above 120, it generates a bunch of asymptotically smaller numbers until it bottoms out at NaN.

Perhaps there should be a warning for improbable (or impossible) spring values.

[2015-10-25 10:55] nkbt commented on #223
Sure, sounds good. Let's leave it as a backlog feature for future reference.

[2015-10-25 10:58] nkbt commented on #224
Usually we detect that animation is ended case by case comparing current values with end value. There is no generic solution at the moment to tell that whatever animation is there - it is ended. So yes. I guess to make a generic wrapper you need one, #139 is a blocker.

[2015-10-25 11:04] nkbt commented on #100
@appsforartists it should be really easy to add ability to specify precision if you replace `Math.round(dict[key])`. For many cases even for height, 0.1 precision is desirable. Sometimes 0.01. Depending on the kind of animation.

Wrapper solution is pretty straightforward indeed, but it would be much nicer to have it as part of spring() config.

[2015-10-25 11:07] nkbt commented on #225
I guess it might be also related to #100? I mean we can get this fixed by simply having some sane precision.

[2015-10-25 11:07] VasilyShelkov commented on #224
This might be a noob question but there's no way of accessing the value that's being interpolated within the ``<Motion>`` component from a wrapper component in the master branch because it's not being exposed is there? To then potentially be able to to try and calculate the velocity ?

[2015-10-25 11:09] nkbt commented on #224
Well... I guess, you can just get `styles` prop, and see what is being changed, so you have end values, actually. For each step. So you can track it on step-by-step basis. My previous answer is not completely correct then. #139 would simplify the implementation a lot, but it is possible to make a wrapper without it.

[2015-10-25 12:08] VasilyShelkov commented on #224
but there's still an issue with the spring, as if you want to add a "wobbly" animation to the sequence, it's going to go past the end value and so you'd need to calculate the "velocity" to wait for it to go to 0....

So from my understanding of your answer, styles prop is directly mutated in the ``<Motion>`` component ?

[2015-10-25 12:38] nkbt commented on #224
There is no mutation, it goes through values and calls Child function When you think animation is done (to some degree of precision), just start next step.  And so on. Spring calculation does not hold start/end values, it works with intermediate values.There is no state in RM or sort of queue. Animation will just "follow" new values. Technically you will make animation 100->0.01->99.98->0.01->100

[2015-10-25 12:57] VasilyShelkov commented on #224
Sorry I know I'm clearly missing something simple and don't understand but imagine I've got this render function which is using the ``<SequentialMotion>`` wrapper:
[code]
How do I track the values in this case ``({left, top})`` (for now non generically so I can get an understanding of how I'd watch the values of them) in ``<SequentialMotion>``. I don't understand how I can access them from ``<Sequ

[2015-10-25 20:36] nkbt commented on #224
[code]

these. you have them on each step. compare with:
[code]

internally in SequentialMotion:

[code]

Don't know how internally it is implemented in SequentialMotion, so can't be more specific.

Hope this helps!

[2015-10-25 23:39] appsforartists commented on #100
Now published to npm:

 [`var memoizeRounded = require("gravel").helpers.memoizeRounded;`](https://github.com/appsforartists/gravel/blob/master/src/helpers/memoizeRounded.js)

[2015-10-26 02:17] bishopZ opened #226 "Animating nested property sets"
I need to pass multiple sets of styles to RM but I have had no luck getting RM to interpret either a nested object of styles or an array of style objects.

My solution is to build a key map before and after RM does the interpolation. Any chance there is a better solution here?

[code]

I want to pass in styles that look like either of these.

[code]

[2015-10-26 04:19] nkbt commented on #226
RM cannot work with nested styles.

you can animate one prop and calculate all others based on it.

[code]

And so on...

[2015-10-26 05:49] salzhrani opened #227 "React warnings"
I keep getting the following warning
`Warning: setState(...): Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.` and usually it is `springEnd` that is calling `setState` not sure what could be causing this.

[2015-10-26 09:11] nkbt commented on #227
Somehow you are calling setState within a render call. It is really hard to tell without looking at your code.

[2015-10-26 09:19] salzhrani commented on #227
I thought springEnd was part of RM, but it is not.

thank you.

[2015-10-26 09:19] #227 closed

[2015-10-26 09:55] AndrewIngram commented on #100
So I was handling this in the child myself anyway, which for the most part was fine, but it didn't address the wasted renders of the Spring itself. There weren't any performance issues, but it did mean that when I was using React's Perf tools, the output showed those wasted renders, which somewhat obscures any other issues that might exist.

[2015-10-26 21:24] #226 closed

[2015-10-27 17:48] VasilyShelkov commented on #224
Had another thought, would it not be possible to use <StaggeredMotion /> and rather than mapping the interpolated styles to a new element in the component's children every time, just loop through the interpolated styles changing the style of a single element ?

Going to try it tonight to see if I'm understanding StaggeredMotion correctly...

[2015-10-27 19:25] bishopZ commented on #224
I recently posted a similar issue. The code sample I have shows a way to flatten a group of elements into a single object for processing by RM.
The code seems like a hack-around to me, as I would rather RM support nested property sets. It seems like support for nested property sets would resolve this issue as well.
Either way, my code sample may provide an approach to resolve this issue as it did

[2015-10-28 02:18] steida commented on #142
The demo is broken. It's impossible to set any reliable duration, since some easings seems to be broken. I really don't understant what you mean is wrong with animation duration. Duration is ok.

[2015-10-28 02:20] chenglou commented on #142
Seems to work fine from here. What's broken?

[2015-10-28 02:25] steida commented on #142
I just set some dragger to low value, and first column is invisible a second is animating forever. Anyway, we need duration. There is nothing wrong with initial duration value.

[2015-10-28 02:28] chenglou commented on #142
That's the intended behaviour of the demo. First column is invisible because it's wobbling too hard and second column too. You've probably hit a negative configuration. They're a few numbers smaller than whatever you're manipulating (likewise the following columns are a few numbers bigger than your current cell). There's no reason to hide the undefined behaviour when you set e.g. a negative dampin

[2015-10-28 02:31] steida commented on #142
Why? It's just definition how long bare animation should play, and right implementation can hook on any step.

[2015-10-28 02:31] steida commented on #142
I am really missing point of something or idk.

[2015-10-28 02:33] chenglou commented on #142
It's not about being able to hook into any step/frame. What do you do with an e.g. ease-out animation interrupted halfway? Given whatever info you currently have.

[2015-10-28 02:37] steida commented on #142
Play the same animation backward.

[2015-10-28 02:39] chenglou commented on #142
It's interrupted because you want to go to a new destination. Are you saying you reverse the equation? That'll become an ease-in (sorta) and only works with ease-out in the case you're talking about.

[2015-10-30 16:19] daedelus-j opened #228 "Can't build react-motion with node 0.12.0"
[code]

FULL STACKTRACE

[code]

[2015-10-30 16:27] daedelus-j opened #229 "Spring documetation: clarify stiffness and damping"
This was a bit of an unknown for me when first trying to use it. I had wikipedia Springs to remember what damping was, which was admittedly pleasant, but not altogether friendly to most webdevs working with animations.

Is there any way we can take a stab at relating the spring from physics to animation? Maybe a helpful gif or something?

Also sidenote: `opaque configuration` is a little vague IMO

[2015-10-30 16:27] daedelus-j opened #230 "Documentation format is a little confusing"
`spring: number -> ?[stiffness, damping] -> ConfigurationObject`

to something like:

[code]

**number** - the desired value to be used
**stiffness** - this could use a more friendly definition
**damping** - as does this, see other ticket [here](https://github.com/chenglou/react-motion/issues/229)

_returns_: ConfigurationObject (include link to what this is)

[2015-10-30 16:45] daedelus-j commented on #228
Nvm this was my own environment issue

[2015-10-30 16:45] #228 closed

[2015-10-30 18:02] daedelus-j commented on #230
seems to be under discussion here: https://github.com/chenglou/react-motion/pull/209

closing

[2015-10-30 18:02] #230 closed

[2015-10-30 19:38] chenglou commented on #229
What part of "opaque configuration" is vague? Genuinely asking.

And yeah, the balls grid demo was partially an attempt to illustrate stiffness and damping intuitively. I'd gladly accept some gif explanation though (while we're at it, an illustration of TransitionMotion's mechanism).

[2015-10-30 19:48] daedelus-j commented on #229
@chenglou sorry not trying to be difficult. I don't know what `opaque configuration` means. As opposed to `translucent configuration`? Which is what?

Could just be `returns a configuration object`.

[2015-10-30 19:49] chenglou commented on #229
Oh, "opaque" as in "you shouldn't peek under it and access its members because we might change its representation in the future"

[2015-10-30 20:00] daedelus-j commented on #229
Ahhhhh cool, I've heard other terms for that, just not `opaque`.

Also I like the ball demo, just took a little while to understand what i was seeing. Maybe a gif quickly illustrating an intuitive difference between to settings *a la* http://cubic-bezier.com/#.17,.67,.86,.59

I'd be happy to add that.

[2015-10-30 20:01] chenglou commented on #229
Yeah that'd be cool.

Got any suggestion for a better term than opaque?

[2015-10-30 20:16] daedelus-j commented on #229
Well it'd be nice to make it frozen or immutable in that case, but I generally see `private` used most frequently. As in a `a configuration object with private properties`.

That said, since what is returned is not of use at all to the developer (except maybe for introspection), perhaps just passing in a config object and then using `spring()` would make the API more friendly, but I suppose that's

[2015-10-30 21:08] chenglou commented on #229
Yeah I guess we could freeze in dev. Kinda expensive though.

Private sounds good.

Introspection is exactly why I didn't want to expose it. I might change the format in the future. But maybe I'm coding too defensively here.

Not sure what's the use of `spring` if you pass the config directly then? For the record, it was indeed a plain object instead of the `spring` helper before, but that had a b

[2015-10-31 02:03] nkbt opened #232 "Warn about children re-rendered on each animation step"
That probably fits nicely with #37 though the difference is whether we can warn developer of delays in  runtime. Sort of basic profiling with a recommendation to split animated container from non-animated functional children subtree if we can detect delays and huge number of re-renders.

Not quite sure how technically do that (yet), but could take similar to `react-hot-loader` approach.

[2015-10-31 12:31] nkbt commented on #196
I reckon that might be a #100 duplicate

[2015-10-31 12:36] nkbt commented on #189
@adrienhobbs you can animate a single value and recalculate all others accordingly.

[code]

[2015-11-02 04:35] brigand opened #233 "Handle long pauses gracefully"
Example: http://jsbin.com/nimujewiju/1/edit?js,output

In chrome if you drag it to e.g. 50% and quickly tab to another window (tested on osx yosemite), the animation pauses and then it goes to ~100% and stays there. The problem is bad because it goes beyond the target by far.

I imagine the solution is something like clamping the elapsed time to 50ms or so and ensuring that another update occurs i

[2015-11-02 16:54] daedelus-j commented on #229
here's the doc PR:

True. There's other ways, but I assume this is low priority.

Ya, since it's only three properties could just be `{ value: 10, spring: [100, 26] }` and then just generate the configuration object under the hood, but perhaps this is also not too important.

Thanks for the quick replies!

[2015-11-02 16:55] daedelus-j commented on #229
This can be closed now.

[2015-11-02 16:55] #229 closed

[2015-11-02 23:03] nkbt opened #235 "Tell when animation is finished"
Sort of related to #100

It is OK now to check current value if you are using default spring preset. But if I am using something like `wobbly` and animate `height`, I can easily get zero height while animation is far from being finished (then it goes to negative height, but that is a different story).

So if I think that my animation is done when height equals 0 and want to unmount element, that i

[2015-11-02 23:29] bsansouci commented on #235
What's the advantage of this over adding a prop `onEnd` which would call a callback? I'm a little scared of this `isFinished` inside the render function because it sounds like you'll have to mutate some state in the parent component to register that the animation is done. Ultimately you want the parent to know that the animation is done, not necessarily the children.

[2015-11-02 23:43] nkbt commented on #235
Callback would work for some cases, but in my case having `isFinished` passed to render itself would work better, since I do not want to manipulate state, based on callbacks and I want only change what is rendered inside function without re-rendering whole component. I thing both should be added. Though this one probably should not be added to the main README (and added to a separate Advanced usag

[2015-11-03 00:07] chenglou commented on #235
`end` callback and `isFinished` here would need to be per number btw, not per style

[2015-11-03 01:41] sompylasar commented on #235
@chenglou @nkbt The #219 velocities are a better way to go than a single `isFinished` flag. There could be a helper to which you pass the object with velocities so it calculates whether all / any / some of them have reached certain threshold.

[2015-11-03 02:23] nkbt commented on #235
@sompylasar I mentioned that issue in my first message =).
That could be an additional thing passed to `render` callback alongside with `isFinished` flag, which is simple and straightforward and does not require any extra logic around it.

[2015-11-03 03:35] chenglou commented on #233
That's... a bug? @bsansouci

[2015-11-03 06:11] chenglou commented on #233
Ahahaha, fuck JavaScript =)

Got it. It has nothing to do with switching tab. You forgot to use `parseInt` on `e.target.value` and RM let that pass through by doing some `+` operation on string, which results in a nonsensical value in the end. Adding `parseInt` fixes this.

That was funny. Closing! =)

[2015-11-03 06:11] #233 closed

[2015-11-03 09:01] sompylasar commented on #235
@nkbt, yes, I saw this. Just missed the "alongside" thing, sorry.

[2015-11-03 09:18] sompylasar commented on #233
@chenglou Fuck DOM for returning `string` as the `value` of `input type="range"` :see_no_evil:

[2015-11-03 16:41] khankuan opened #236 "Sequence"
Hi, I have a list view and a desired animation in this sequence:
1) item is delete, it fades out to 0.
2) items are rearranged, where items below the deleted item translates upwards.

How can I achieve a "sequence" of animations?

Thanks!

[2015-11-03 19:08] chenglou commented on #233
It's the DOM alright =P

[2015-11-03 22:41] ccblaisdell commented on #153
@akre54 Did you manage to get custom interpolators working, or did you decide to go a different direction?

[2015-11-03 23:14] nkbt commented on #236
It looks like a duplicate of #224 and blocked by #235

[2015-11-04 16:46] Eptis commented on #161
Don't know if its the same, but on react 0.14 some handlers of mine only fire until the animation has finished + 1. This means the UI is unresponsive during the animation

[2015-11-05 08:05] code-artisan opened #237 "Can't get ref"
I got a problem. I can not get any ref when I used react-motion component. I think it's asynchronous, is it?

[2015-11-06 05:31] nkbt commented on #161
I have no problem with event handlers, they work pretty good while animating. I am pretty sure there is something to do with the program structure.

See example at http://nkbt.github.io/react-collapse/example/

[2015-11-06 10:39] Eptis commented on #161
My bad, this can be closed. It was a problem with the z-index of the element, it was layed on top but was not visible.

[2015-11-06 14:03] chenglou commented on #237
String refs don't work inside callbacks: https://github.com/chenglou/react-motion#faq (last point).
Callback ref does work, and will be replacing string refs in react too. That works! =)

[2015-11-06 14:03] #237 closed

[2015-11-06 19:39] lencioni commented on #212
I haven't been able to build a small repro yet, but here's the stack trace with some context in case that helps:

[code]

[2015-11-06 19:58] chenglou commented on #212
what's `this`?

[2015-11-06 21:57] lencioni commented on #212
Unfortunately, the stack trace I sent you is just in our logs which don't have that information. I haven't been able to reproduce this in my browser yet.

[2015-11-09 14:49] griable commented on #130
Hi @rclai,

Just replace the scale by translateY: transform: `translate(${interpolated[key].x}%)`.

And replace scale in both willEnter and willLeave methods by respectively `x: spring(-100)` and `x: spring(100)`.

That should work.

[2015-11-10 09:57] henriquea commented on #153
@akre54 as @ccblaisdell mention also keen to know if you found a solution.

[2015-11-10 13:36] akre54 commented on #153
I started changing some things around and got into the weeds before just falling back to using d3 for child animations, which has some pretty severe drawbacks.

We're still really interested in this (mostly for animating between reparented components), but I haven't had time in a while to look into it.

[2015-11-10 13:48] henriquea commented on #153
Thanks for the update @akre54 👍

[2015-11-12 05:09] hitsthings opened #240 "Question: Any thoughts on react-motion + Web Animation spec?"
I'm only now looking at react-motion. Despite how awesome react-motion looks, the perf implications of style-recalc are not ideal.

Do you have any thoughts on using the near-future [Web Animation APIs](http://www.w3.org/TR/web-animations/) as [seen in Chrome](https://developers.google.com/web/updates/2014/05/Web-Animations-element.animate-is-now-in-Chrome-36) under the hood to deal with realizing

[2015-11-12 07:59] sompylasar commented on #240
These articles could be interesting regarding the question and the animations as a whole:
http://marcgrabanski.com/html5-animation-api/
http://acko.net/blog/animate-your-way-to-glory/
http://acko.net/blog/animate-your-way-to-glory-pt2/

[2015-11-12 19:18] yanivtal commented on #235
Is anyone working on this?

[2015-11-12 19:23] bsansouci commented on #235
@chenglou I don't think anyone's working on it as of right now. PRs are very welcome though :D

[2015-11-12 19:28] chenglou commented on #235
I will be working on this.

[2015-11-13 10:06] nkbt commented on #235
I though I will, but had a pretty crazy last month

[2015-11-14 04:47] chenglou commented on #240
Yep, acko.net has been a great reference! We already do implement a few perf/visual optimizations such as separating the real-life clock with ideal clock. As for smoothing out arbitrary interpolations, [tween-state](https://github.com/chenglou/react-tween-state) solves this (it's the additive animation that one of the articles is talking about, and one that's implemented in iOS 7) but I'd rather j